

/*Style For Mobile Devices
=========================================================*/
// Let the games begin (site buliding in progress) 
// ============================================================
// ------------------------------------------------------------
// Css Style Guide 
// ----------------------------------
// 1.0 Main-head
//      1.2 Header-slider
//      1.3 Primary-navigation
//          1.3.1 logo
//          1.3.2 primary-nav
//          1.3.3 top-side
//              1.3.3.1 language
//              1.3.3.2 searchbox
//              1.3.3.3 socailbtn
//              1.3.3.4 socialbar
//      1.4 Secondary-navigation
// ---------------------------------
// 2.0 planyourtripbar
// ---------------------------------
// 3.0 Content-area
// ---------------------------------
// 4.0 welcome-text
// ---------------------------------
// 5.0 shortcut-box
//       5.1 quicklinks
// ---------------------------------
// 6.0 Home-activites-area
// ---------------------------------
// 7.0 shortcut-links-home
// ---------------------------------
// 8.0 roundedbox
// ---------------------------------
// 9.0 Footer-area
//      9.1 footer-banner
//      9.2 footer-newsletter
// -------------------------------------

@media (max-width: @screen-xs-max) { 

// 1.3 Primary-navigation 
// ------------------------------
#Primary-navigation {
    //1.3.1 logo 
    // -------------------------
    .top-side {
        .top-side-inner {
            margin: 0 0 0 0;
        }

        .searchbox {
            width:100% !important;
        }
    }
    .logoplacer {
        text-align:center;
        .logo {
            display:inline-block;
            width:123px;
        }
    }

    // 1.3.2 primary-nav 
    // --------------------------
    .primary-nav {
        position: relative;
        overflow-x: scroll;
        left:-20px;
        top:0;
        width:114%;
        overflow:scroll;
         ul {
            background-color:@orange;
            positon:absolute;
            width:320%;
            li {
                a {
                    font-size:16px;
                    display:block;
                    background:@orange;
                    padding-left:0;
                    padding:15px 20px;

                }
            }
         }
    }

    // 1.3.3 top-side 
    // --------------------------
    .top-side {
        margin-top:0;
        // 1.3.3.1 language 
        // ----------------------------
        .language {
            margin:5px 20px 0 0;
        }

        // 1.3.3.2 searchbox 
        // --------------------------
        .searchbox {
            width: 50%;
            margin-right: 0;
        }

        // 1.3.3.4 socialbar 
        // -------------------------
        .socialbar,.socialbtn {
            display:none;
            
        }
    }
}

// 1.4 Secondary-navigation 
// ------------------------------
#Secondary-navigation {
    display:block;
    margin-top:0;
    ul {
        li {
            a {
                font-size:18px;
            }
        }
    }
}

// 2.0 .planyourtripbar 
// ----------------------------
.planyourtripbar {
    margin-top:485px;
    
    .centeralized {
        .label {
            display:block;
             margin-bottom:10px;
             margin-right:0;
            span {
                border-left-color:transparent;
                border-top-color :@green;
                right:50%;
                margin-right:-12px;
                top:auto;
                bottom:-16px;
               
            }
        }
        .planyourperfecttripfield {
            width:80%;
        }
    }
}

// 5.0 shortcut-box
// ---------------------------
.shortcut-box {
    .video-box {
        width:100%;
        img {
            width:100%;
            height:auto;
        }
    }

    // 5.1 quicklinks 
    // -------------------------
    .quicklinks {
        width:100%;
        a {
            padding:16px 20px 30px;
            width:33.333%;
            float:left;
        }
    }
}

// 7.0 shortcut-links-home 
// -----------------------------
.shortcut-links-home {
    li {
        width:50%;
        margin-bottom:2px;
        &:nth-child(3) {
            a {
                margin-left:0;
            }
        }

        a {
            img {
                width:100%;
                height:150px;
            }
        }
    }
}

// 8.0 roundedbox 
// ----------------------------
.roundedbox {
    .thumbnail-round {
        width:20%;
        img {
            width:100%;
            height: auto;
        }
    }
    .box-content {
        width:80%;
    }
}

// 9.0 Footer-area 
// ---------------------------
#Footer-area {
    // 9.1 .footer-banner 
    // -----------------------
    .footer-banner {
        margin-bottom:20px;
        img {
            width:100%;
            height:auto;
        }
    }

    .copyright-container {
        .footer-links {
            float:none !important;
            text-align: center;
            .clearfix();
            li {
                float:none;
                display:inline-block;
            }
        }
        .copyright-text {
            float:none !important;
            text-align:center;
        }

        .island-graphics {
            width:100%;
        }
    }

    .footer-newsletter {
        .form-group {
            .info {
                .clearfix();
            }
        }
    }
}

.popUpContainer {
    padding:10px;
}

#multiple-btns{
     ul {
        text-align:center;
        li {
            width:31.52%;
            height:120px;
            float:none;
            display:inline-block;
            margin-left:0;
            margin-bottom:5px;
            a {
                font-size:11px;
                height:120px;
            }
        }
     }
}

#multiple-btns.wateractivities.threebtn 
    ul {
        li {
            height: 60px;
            width:100%;
            a {
                height: 66px;
                h3 {
                    text-align:center;
                }
            }
        }
    }

.parallax-section {
    li {
        .white-wrapper {
            padding:15px;
            .title {
                margin: 5px 0 5px;
            }
            p {
                font-size: 15px;
                line-height: 23px;
            }
        }
    }
}

.breadcrumb {
    display:none
}


#Header-slider {
    ul {
        li {
            img {
                width:auto;
                heoght:100%;
            }
        }
    }
}
.intrestingFactsSlider {
    margin-bottom:30px; 
}

.single-box {
    .transparent {
        width:100%;
    }
}


.border-box{
    .boxthumbnail {
        width:100%;
    }
    &.meetanim {
        height:195px;
        max-height:auto;
    }
}

.animals-listings {
    ul {
        li {
            .border-box {
                &.meetanim {
                  height:320px;
                  max-height: inherit;
                }
            }
            .animalsound-btn {
                position:relative;
                margin-left:15px;
                font-size:12px;
            }
        }
    }
}
.reservationbox {
    margin-bottom:30px;
}

.socialfooter {
    display:none;
}

.landActivitesSection {
    h2 {
        a{
            padding-left:15px;
        }
    }
}

.innerMapImgHold .textContent {
    width:40%;
}
    
    
}











