
/*Global Style
===========================================*/
.imgHold {

	&.margin-bottom {
		margin-bottom:20px;
	}
	&.sideImg {
	margin-bottom: 15px;	
	}


	img {
	width: 100%;
	height: auto;	
	}

}


.marginTop20 {
margin-top: 20px !important;	
}


/*Global Style
===========================================*/



// 30.0 Land & Water Activites 
// ============================
// ============================


.activitesContainerSection {
margin: 0 0 60px;
padding: 0;
.clearfix();
background-image: url('@{baseurl}/adventure/adventure-top-bg.jpg');
background-position: center 24px;
background-repeat: no-repeat;


	.bottomFix {
	background-image: url('@{baseurl}/adventure/adventure-btm-bg.jpg');
	background-position: center bottom;
	.clearfix();
	background-repeat: no-repeat;
	}

	&.mediaCenterNews {
	background-image: url('@{baseurl}/media-center/media-top-bg.jpg');

		.bottomFix {
		background-image: url('@{baseurl}/media-center/media-btm-bg.jpg');	
		}

	}


	&.eventsHome {
	background-image: none;
	margin:0 0 0 0;
		.bottomFix {
		background-image: none;	
		}

	}


	&.galleryExperiance {
	background-image: url('@{baseurl}/galler-exp/media-top-bg.jpg');

		.bottomFix {
		background-image: url('@{baseurl}/galler-exp/media-btm-bg.jpg');	
		}

	}
	

}


.seperator {
height: 7px;
margin-bottom: 40px;
}


// 30.1 Land Activites starts here 
// ==================================

.landActivitesSection {
margin: 0;
padding: 0;
.clearfix();
border-bottom: 7px solid @green;
min-height: 400px;


	&.featuredNews {
	border-bottom:  7px solid @purple;	
	}

	&.featuredNews {
	border-bottom:  7px solid @purple;	
	}


	&.galleryExp {
	border-bottom:  7px solid @orange;
	min-height: 580px;	
	}

	&.eventsSection {
	border-bottom: 0;
	min-height: 300px;	
	}


	h2 {
	color: @white;
	text-transform: uppercase;
	font-size: 24px;
	padding: 13px 0 9px;
	margin-bottom: 20px;
	line-height: 18px;
	font-weight: normal;
	display: block;
	a {
		color:#fff;
		&:hover {
			text-decoration: none;
		}
	}
	}

}

/*Bullet Listings
==================================*/
ul.bulletListings {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

	li {
	margin: 0;
	.clearfix();
	border-bottom: 1px solid @green;
	position: relative;


		&:hover, &:focus, &.active {

			a {
			color: @green;
			text-decoration: none;
			padding-left: 25px;

				.arrow {
				border-left-color: @green;
				left: 5px;	
				}

			}

		}

		
		a {
		padding: 7px 0 7px 20px;
		color: #717171;
		font-size: 13px;
		text-transform: uppercase;
		display: block;
		.transition (all ease 0.5s);
			
			.arrow {
			border:6px solid transparent;
			border-left-color: #d7d7d7;
			position:absolute;
			left:0;
			top:8px;
			.transition (all ease 0.5s);
			}

		}

	}

}

/*Bullet Listings
==================================*/

.readmoreBttn {
color: #717171;
margin-top: 10px;
display: inline-block;	
padding-right:40px;
line-height:16px;
.transition(all ease 0.5s);
	&:hover {
	text-decoration: none;
	color: #717171;	
	}

	&.green {
		color:@green;
		.sprite(-873px,-76px);
		&:hover {
			.sprite(-888px,-76px);
		}
	}
	&.blue {
		color:@blue;
		.sprite(-873px,-108px);
		&:hover {
			.sprite(-888px,-108px);
		}
	}
	&.dblue {
		color:@dblue;
		.sprite(-873px,-149px);
		&:hover {
			.sprite(-888px,-149px);
		}
	}
	&.purple {
		color:@purple;
		.sprite(-873px,-142px);
		&:hover {
			.sprite(-888px,-134px);
		}
	}
	&.orange {
		color:@orange;
		.sprite(-873px,-91px);
		&:hover {
			.sprite(-888px,-91px);
		}
	}

}

// 30.2 Water Activites starts here 
// ==================================

.waterActivitesSection {
margin: 0;
padding: 0;
.clearfix();
border-bottom: 7px solid @blue;
min-height: 400px;

	h2 {
	color: @white;
	text-transform: uppercase;
	font-size: 24px;
	padding: 13px 0 9px 20px;
	margin-bottom: 20px;
	line-height: 18px;
	font-weight: normal;
	display: block;
	a {
		color:#fff;
		&:hover {
			text-decoration: none;
		}
	}
	}

	&.whatsNewSection {
	border-bottom: 7px solid @orange;	
	}

	&.galleryExp  {
	min-height: 580px	
	}


	&.eventsSection {
	border-bottom: 0;
	min-height: 300px;

		.waterActivitiesSlider {

			.flex-direction-nav {

		        li {

		            a {
		            outline: 0;	

		                &.flex-prev {
		                background-image: url('@{baseurl}/icons/innSliderArrowLeft.png');
		                width: 13px;
		                height: 15px;
		                cursor: pointer;
		                position: absolute;
		                top: -30px;
		                left: auto;
		                right: 40px;
		                opacity: 1 !important;    
		                }

		                &.flex-next {
		                background-image: url('@{baseurl}/icons/innSliderArrowRight.png');
		                width: 13px;
		                height: 15px;
		                cursor: pointer;
		                position: absolute;
		                top: -30px;
		                left: auto;
		                right: 15px;
		                opacity: 1 !important;    
		                }

		            }

		        }

		    }

		}


	}

}

/*Water Slider Section
============================================*/

.waterActivitiesSlider {
margin: 0 0 0 -15px;
padding: 0;
list-style: none;
.clearfix();
position: relative;

	
	.flex-direction-nav {

        li {

            a {
            outline: 0;	

                &.flex-prev {
                background-image: url('@{baseurl}/icons/innSliderArrowLeft.png');
                width: 13px;
                height: 15px;
                cursor: pointer;
                position: absolute;
                top: -30px;
                left: auto;
                right: 40px;
                opacity: 1 !important;    
                }

                &.flex-next {
                background-image: url('@{baseurl}/icons/innSliderArrowRight.png');
                width: 13px;
                height: 15px;
                cursor: pointer;
                position: absolute;
                top: -30px;
                left: auto;
                right: 15px;
                opacity: 1 !important;    
                }

            }

        }

    }

	
	ul {
	margin: 0;
	padding: 0;
	list-style: none;	

		li {
		.clearfix();
		width: 25%;
		float: left;
		cursor: pointer;


			&:hover {

				.content {

					.imgHold {

						.hoverContent {
						.opacity(1);	
						}

					}

				}

			}


			.content {
			margin-left: 15px;



				.imgHold {
				margin: 0 0 2px 0;
				position: relative;

					.hoverContent {
					background-color: 0;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					min-height: 100%;
					height: 100%;
					background-color: @blue;
					.opacity(0);
					a {
						color:#fff;
						&:hover {
							text-decoration:none;
						}
					}
					.transition(all ease 1s);

						div.content {
						padding: 10px 10px 10px 0;
						.clearfix();

							p {
							color: @white;
							font-size: 12px;
							margin-bottom: 5px;	
							}

							.readmoreBttn {
							color: @white;	
							}

						}

					}

				}

				h2 {
				color: @blue !important;
				font-size: 14px;
				text-transform: uppercase;
				padding: 25px 0;
				margin: 0;
				text-align: center;
				border-top: 6px solid @blue;
				position: relative;
                    a {
                        color: @blue !important;
                    }

					span {
					border:10px solid transparent;
					border-top-color: @blue;
					position:absolute;
					left:0;
					top:0px;
					right: 0;
					margin: 0px auto;
					display: inline-block;
					width: 17px;	
					}
					.ggka {
						&:hover {
							text-decoration:none
						}
					}

				}

			}


			&.bluebg {
			background-color: transparent;	
			}


			&.orangebg {
			background-color: transparent;	

				.content {

					.imgHold {

						.hoverContent {
						background-color: @orange;	
						}

					}

					h2 {
					border-top: 6px solid @orange;
					color: @orange !important;
					
						span {
						border-top-color: @orange;	
						}

					}

				}

			}


			&.greenbg {
			background-color: transparent;	

				.content {

					.imgHold {

						.hoverContent {
						background-color: @green;	
						}

					}

					h2 {
					border-top: 6px solid @green;
					color: @green !important;
					
						span {
						border-top-color: @green;	
						}

					}

				}

			}


			&.purplebg {
			background-color: transparent;	

				.content {

					.imgHold {

						.hoverContent {
						background-color: @purple;	
						}

					}

					h2 {
					border-top: 6px solid @purple;
					color: @purple !important;
					
						span {
						border-top-color: @purple;	
						}

					}

				}

			}


			&.yellowbg {
			background-color: transparent;	

				.content {

					.imgHold {

						.hoverContent {
						background-color: @yellow;	
						}

					}

					h2 {
					border-top: 6px solid @yellow;
					color: @yellow !important;
					
						span {
						border-top-color: @yellow;	
						}

					}

				}

			}


			&.brownbg {
			background-color: transparent;	

				.content {

					.imgHold {

						.hoverContent {
						background-color: @brown;	
						}

					}

					h2 {
					border-top: 6px solid @brown;
					color: @brown !important;
					
						span {
						border-top-color: @brown;	
						}

					}

				}

			}	


		}

	}


}

/*Water Slider Section
============================================*/


/*For Bottom Quick Nav
============================================*/

ul.bottomQuickNavContainer {
margin: 30px 0 30px -15px;
padding: 0;
list-style: none;
.clearfix();

	
	li {
	float: left;
	width: 12.98%;
	margin-left: 15px;


			a {
			min-height: 89px;
			display: block;
			outline: 0;
			position: relative;
			text-align: center;

				h2 {
				font-size: 15px;
				text-align: center;
				color: @white;
				margin: 0px auto;
				font-weight: normal;
				text-transform: uppercase;
				position: absolute;
				bottom: 15px;
				left: 0;
				right: 0;	
				}

				.icon {
				position: absolute;
				top: 15px;
				left: 0;
				right: 0;
				margin: 0px auto;
				display: inline-block;	
				}

			}


	}


}

/*For Bottom Quick Nav
============================================*/

.marginBtm20 {
margin-bottom: 20px;	
}

.grayBox {
padding: 15px 20px;
background-color: #efefef;
.clearfix();

	p {
		margin-bottom:10px;
		&:last-child {
			margin-bottom:0;
		}
		span {
		color: @green;
		text-transform: uppercase;	
		}

	}

}


/*Pop Up Container
==================================*/
.popUpContainer {
padding: 0;
background-color: #fff;
.clearfix();

	.titleSection {
	.clearfix();
	margin: 0 0 10px 0;

		h2 {
		font-size: 28px;
		text-transform: uppercase;
		color: @orange;
		font-weight: normal;
		margin: 0;
		padding: 0;	
		}

	}

	.photohold {
		margin-bottom:0;
	}

}
/*Pop Up Container
==================================*/


/*Inner Social Icons
==================================*/

.innerSocialIcons {
margin: 0 0 0 -5px;
padding: 0;
list-style: none;
.clearfix();
float: right;

	&.left {
	float: left;	
	}

	li {
	margin-left: 5px;
	float: left;	
	}

}

/*Inner Social Icons
==================================*/


/*Book Now form Section
==================================*/

.bookNowContainer {
	
	p {
	margin: 0;
	font-size: 14px;	
	}

	.form-group {
    margin: 0 0 0px 0;
    padding: 0;
    position: relative;
		.eerror {
			position: absolute;
			top:0;
			right:0;
		}

            label {
            font-size: 14px;
            font-weight: normal;

                &.red {
                position: absolute;
                bottom: -25px;
                font-size: 12px;
                font-weight: normal;    
                }

            }


            input.form-control {
            background: @white;
            padding: 0 10px;
            font-size: 14px;
            color: #bdbdbd;
            .box-shadow(none);
            border: 1px solid #ccc;
            .placeholder(@color: #bdbdbd);
            height: 40px;
            font-weight: normal;
            .border-radius(0);    
            }

            textarea {
            background: @white;
            padding: 0 10px;
            font-size: 14px;
            color: #bdbdbd;
            .box-shadow(none);
            border: 1px solid #ccc;
            .placeholder(@color: #bdbdbd);
            font-weight: normal;
            .border-radius(0);    
            }


            img.ui-datepicker-trigger {
            position: absolute;
            top: 29px;
            right: 1px;
            cursor: pointer;    
            }


            div.selector {
            background-image: transparent;
            background-repeat: repeat;
            border: 1px solid #ccc;
            box-shadow: none;
            margin: 0; 
            height: 40px;
            line-height: 10px;
            position: relative;
            width: 100% !important;
            text-align: left;
            color: #202020;
            font-size: 14px;
            text-transform: uppercase;
            background-color: #fff;

                      span { 
                      text-shadow:none; 
                      padding-left:12px;
                      padding-right:8px;
                      background-image:url('@{baseurl}/icons/dropdown-arrow.png');
                      background-position: right 0px;
                      background-repeat:no-repeat;
                      height:40px;
                      line-height:40px;
                      font-size: 11px;
                      text-transform: capitalize;
                      width: 100% !important;
                      display: block;
                      }
                      
                      select {
                      min-width: 70px;
                      border:0;
                      box-shadow:none;
                      position: absolute;
                      top: 0;
                      left: 0;
                      min-height: 33px;
                      .opacity(0);

                        option {
                        padding: 10px 5px;  
                        }

                      }
                          
                          
                        
            }


            


    }

}


.checkAvailability {
margin: 27px 0 0 0;
padding: 10px 0;
font-size: 14px;
color: @white;
cursor: pointer;
width: 100%;
text-align: center;
border: 0;
background-color: @orange;	
	&.greenbg {
		background-color:@green;
	}

	&.send {
		margin:10px 0 0 0 ;
	}
}

/*Book Now form Section
==================================*/


.aboutDesert {
.clearfix();	

	.border-box {
	margin-bottom: 15px;	
	}

	p {
	margin-bottom: 5px;	
	}

}

.innerMapImgHold {
margin: 0;
padding: 0;
position: relative;

	img {
	width: 100%;
	height: 100%;
	min-height: 233px;	
	}

	.textContent {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 30%;

		h2 {
		margin: 0;
		padding: 10px;
		display: block;
		background-color: @blue;
		text-align: center;
		font-size: 16px;
		color: @white;
		font-weight: normal;
		a {
			color:#fff;
			&:hover {
				text-decoration:none
			}
		}
		}


		.content {
		padding: 15px;
		background-color: @white;
		.clearfix();

			p { margin: 0; 
			font-size: 13px;     
			}

		}



	}

	&.center {
			.textContent {
				left:0;
			right:0;
			margin:0 auto;
			}
			
		}

}


.sirbaniyasBox {
height: 233px;	
}

.mediaSection {
cursor: pointer;	

		.imgSection {
		overflow: hidden;

				&:hover {

					img {
					.opacity(1);	
					}

				}
			
				img {
				.opacity(0.5);
				.transition(all ease 1s);	
				}

		}

}


.downloadList {
margin: 0;
padding: 0;
.clearfix();
background:#fff;
}

.whitebg {
	background:#fff
}

ul.downloadListings {
margin: 0 0 15px 0;
padding: 0;
list-style: none;
.clearfix();

		li {
		position: relative;
		margin-bottom: 25px;
			
			.imgHold {
			margin-bottom: 15px;	
			}

			h2 {
			text-align: left;
			font-size: 16px;
			text-transform: uppercase;
			margin: 0 0 5px 0;
			padding: 0;
			color: @orange 	
			}

		}

}


.downloadBttn {
margin: 0;
padding: 5px 25px;
display: inline-block;
color: @white;
background-color: @orange;
text-align: center;	
text-transform: uppercase;
font-size: 14px;

	&:hover {
	color: @white;
	text-decoration: none;	
	}

}

ul.whatsNewTabNavigation {
margin: 0 0 0 -5px;
padding: 0;
list-style: none;
.clearfix();

		li {
		margin-left: 5px;
		width: 23.60%;
		display: inline-block;
		cursor: pointer;


			&:hover, &.active {

				.imgHold {

					span {
					display:block;	
					}

				}

			}	

		
			.imgHold {
			border-bottom: 6px solid @orange;
			padding: 0 0 1px 0;	
			position: relative;
			.clearfix();

				span {
				border:10px solid transparent;
				border-top-color: @orange;
				position:absolute;
				left:0;
				right: 0;
				margin: 0px auto;
				bottom:-24px;
				width: 19px;
				display: none;
				.transition (all ease 0.5s);	
				}

			}

		}

}

.tabContentContainer {
margin: 0;
padding: 15px 0;
.clearfix();

	h2 {
	color: @orange;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 5px 0;
	padding: 0;	
    text-transform: capitalize;
	}

	p {
	margin: 0 0 5px 0;	
	}

	.readmoreBttn {
	margin-top: 5px;	
	}


	.contents {
	display: none;	
	}


}


/*Historical Timeline Section
==================================================*/

.historicalTimelineSection {
margin: 0;
padding: 0;
.clearfix();

		.title {
		background-color: @white;
		
			h1 {
			text-transform: uppercase;
			font-weight: normal;
			text-align: center;	
			}

		}

}


/*Time Line Slide 1
===================================================*/

.slide1 {
background-image: url('@{baseurl}/timeline/slide-1-img.jpg');    
// background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 1200px;
text-align: center;
position: relative;


		.topTextSection {
		width: 30%;
		margin: 0px auto;
		padding: 72px 0 25px 0;	
		.clearfix();

			h2 {
			font-size: 18px;
			font-weight: normal;
			margin: 0 0 10px 0;
			text-transform: uppercase;
			color: @white;
			padding: 0;	
			}

			p {
			color: @white;
			margin: 0;
			font-size: 14px;	
			}

		}


}

/*Time Line Slide 1
===================================================*/

.slide2 {
background-image: url('@{baseurl}/timeline/slide-2-img.jpg');    
// background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 708px;
position: relative;
}

.slide3 {
background-image: url('@{baseurl}/timeline/slide-3-img.jpg');    
// background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 708px;
position: relative;
}

.slide4 {
background-image: url('@{baseurl}/timeline/slide-4-img.jpg');    
// background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 708px;
position: relative;
}


.slide5 {
background-image: url('@{baseurl}/timeline/slide-5-img.jpg');    
// background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 595px;
position: relative;
}



/*TIme Line Graph Section
==================================================*/

.timeLineGraphSection {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: 0px auto;
width: 100%;
}


.graphLineHolder {
text-align: center;
position: relative;
.clearfix();
width: 100%;

		.footerTitleSection {
		width: 40%;
		/*border-top: 1px solid #fff;
		border-bottom: 1px solid #fff; */
		padding: 2px 0;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0px auto;
		top: 200px;	

			h2 {
			padding: 15px 30px;
			/*border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			text-transform: uppercase; */
			margin: 0;
			color: #fff;
			font-weight: normal;
			font-size: 14px;
                line-height:21px;
			}

			h1 {
                font-size:18px;
				color:#fff;
				text-transform: uppercase;
			}

		}

		.timeLineBullets {
		position: absolute;
		width: 50%;	
		left: 0;
		padding-right: 3px;


			&.right {
			right: 0;
			left: auto;
			padding-right: 0;
			padding-left: 7px;

				span {
				float: left;	
				}

				.contentSection {
				float: left;
					h4 {
						font-size:12px;
						color:#fff;
						margin-bottom:5px;
						text-align:right;
					}

					p {
						text-align:right;
					}
				}

				.imgSection {
				float: left;	
				}

			}

			&.big {

				span {
				width: 200px;	
				}

			}


			span {
			width: 80px;
			float: right;	
			display: inline-block;
			height: 10px;
			margin-top: 5px;
			}


			.contentSection {
			width: 35%;
			float: right;
			margin-right: 10px;
				h4 {
						font-size:12px;
						color:#fff;
						margin-bottom:5px;
						text-align:left;
						&.black {
							color:#000;
						}
					}
				p {
				font-size: 12px;
                line-height: 15px;
				text-align: left;
				margin: 0;
                    color:#ddd;

					&.white {
					color: #fff;	
					}

					&.black {
					color: #000;	
					}

				}

			}

			.imgSection {
			float: right;
			margin-right: 10px;
			margin-top: -70px;	
			}

		}

}

.marginLeft {
margin-left: 5px;	
}



/*TIme Line Graph Section
==================================================*/



/*Historical Timeline Section
==================================================*/


.featuredNewsSection {
	background:#fff; 
.clearfix();
	.border-box {
		&.small {
			height:165px;
			max-height:165px;
		}
	}
	h2 {
	font-size: 25px;
	text-transform: uppercase;
	margin: 0 0 5px 0;
	padding: 0;	
	}

	h6 {
	font-size: 16px;
	margin: 0 0 10px 0;
	padding: 0;
	font-weight: 400;	
	}

		.title{
	font-size: 25px;
	text-transform: uppercase;
	margin: 0 0 5px 0;
	padding: 0;	
	}

	.subtitle {
	font-size: 16px;
	margin: 0 0 10px 0;
	padding: 0;
	font-weight: 400;	
	}

	p {
		margin-bottom:15px;
	}

}

ul.bottomLinks {
margin: 0 0 30px 0;
padding: 0;
list-style: none;
.clearfix();

	li {
	float: left;
	margin-left: 30px;

		&:first-child {
		margin-left:0;	
		}	

		a {
		color: @orange;

			&:hover {
			text-decoration: none;	
			}	

			i {
			display: inline-block;	
			}

		}

	}

}


.titleBar {
padding: 5px 0;
.clearfix();
margin: 0 0 25px 0;
	
	h2 {
	font-size: 25px;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;	
	}

}

.viewAllBtn {
color: #fff;
text-transform: uppercase;

	&.right {
	float: right;	
	}
	 
}


/*Media form Section
==================================*/

.mediaFormContainer {
	min-height:354px;
	.form-group {
    margin: 0 0 0px 0;
    padding: 0;
    position: relative;

	.marginBtm40 {
		margin-bottom:28px !important;
	}
            label {
            font-size: 14px;
            font-weight: normal;
            color: #000;
            text-transform: uppercase;

                &.red {
                position: absolute;
                bottom: -25px;
                font-size: 12px;
                font-weight: normal;    
                }

            }


            input.form-control {
            background: #f3f3f3;
            padding: 0 10px;
            font-size: 14px;
            color: #bdbdbd;
            .box-shadow(none);
            border: 1px solid #f3f3f3;
            .placeholder(@color: #bdbdbd);
            height: 40px;
            font-weight: normal;
            .border-radius(0);    
            }


    }


    p {

    	a {
    	color: @blue;	
    	}

    }



}

.marginBtm40 {
margin-bottom: 40px;	
}

.SignUpBttn {
padding: 5px;
width: 100%;
font-size: 19px;
text-transform: uppercase;
color: #fff;
display: block;
text-align: center;
border: 0;	
}

h6.regis {
font-weight: normal;
font-size: 16px;
color: #8f8f8f;

	a {
	color: @green;
	font-size:18px;
	font-weight:700;
	text-decoration:underline;
	}

}


/*Media form Section
==================================*/



.planYourEventsSection {
margin: 0 0 25px 0;
padding: 0;
.clearfix();

	h2 {
	font-size: 25px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 15px 0;
	padding: 0;	
	}

}

ul.eventPlanListing {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

	li {
	.clearfix();
	
		.imgHold {
		margin-bottom: 10px;	
		}

		h2 {
		font-size: 18px;
		font-weight: normal;
		margin: 0 0 10px 0;	
		}

		p {
		margin: 0 0 5px 0;
		font-size: 14px;
		text-align: justify;
		padding: 0	
		}

	}

}


.eventDetailImgHold {
padding: 0;
.clearfix();
width: 35%;
margin-bottom: 5px;

	&.big {
	width: 45%;	
	}

	img {
	width: 100%;
	height: auto;	
	}

	&.right {
	float: right;
	margin-left: 20px;	
	}
	

	&.left {
	float: left;
	margin-right: 20px;	
	}


}


/*Events form Section
==================================*/

.eventsFormContainer {

	h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 15px 0;	
	}

	.form-group {
    margin: 0 0 0px 0;
    padding: 0;
    position: relative;


            label {
            font-size: 14px;
            font-weight: normal;

                &.red {
                position: absolute;
                bottom: -25px;
                font-size: 12px;
                font-weight: normal;    
                }

            }


            input.form-control {
            background: @white;
            padding: 0 10px;
            font-size: 14px;
            color: #bdbdbd;
            .box-shadow(none);
            border: 1px solid #ccc;
            .placeholder(@color: #bdbdbd);
            height: 40px;
            font-weight: normal;
            .border-radius(0);    
            }

            textarea.form-control {
            background: @white;
            padding: 0 10px;
            font-size: 14px;
            color: #bdbdbd;
            .box-shadow(none);
            border: 1px solid #ccc;
            .placeholder(@color: #bdbdbd);
            height: 212px;
            font-weight: normal;
            .border-radius(0);    
            }


            img.ui-datepicker-trigger {
            position: absolute;
            top: 29px;
            right: 1px;
            cursor: pointer;    
            }


            div.selector {
            background-image: transparent;
            background-repeat: repeat;
            border: 1px solid #ccc;
            box-shadow: none;
            margin: 0; 
            height: 40px;
            line-height: 10px;
            position: relative;
            width: 100% !important;
            text-align: left;
            color: #202020;
            font-size: 14px;
            text-transform: uppercase;
            background-color: #fff;

                      span { 
                      text-shadow:none; 
                      padding-left:12px;
                      padding-right:8px;
                      background-image:url('@{baseurl}/icons/dropdown-arrow.png');
                      background-position: right 0px;
                      background-repeat:no-repeat;
                      height:40px;
                      line-height:40px;
                      font-size: 12px;
                      text-transform: capitalize;
                      width: 100% !important;
                      display: block;
                      }
                      
                      select {
                      min-width: 70px;
                      border:0;
                      box-shadow:none;
                      position: absolute;
                      top: 0;
                      left: 0;
                      min-height: 33px;
                      .opacity(0);

                        option {
                        padding: 10px 5px;  
                        }

                      }
                          
                          
                        
            }


            


    }

}


.enquiryButton {
margin: 0 0 0 0;
padding: 10px 40px;
font-size: 14px;
color: @white;
cursor: pointer;
text-align: center;
border: 0;
background-color: @orange;
float: right;
display: inline-block;
text-transform: uppercase;	
}

/*Events form Section
==================================*/

.marginBtm15 {
margin-bottom: 15px !important;	
}

.marginTopPaln {
margin-top: 65px !important;	
}


.dateTitle {
font-size: 16px;
color: #4a4a4a;
font-weight: normal;
text-transform: uppercase;
	

	span {
	margin-right: 5px;
	display: inline-block;
	position: relative;
	top: -1px;	
	}


}


.marginBtm30 {
margin-bottom: 30px;	
}


ul.twitterInnerSlider {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

	li {
	.clearfix();	
	}

}



.twitterBox {
margin: 0 0 28px 0;
padding: 0;
.clearfix();

	.imgHold {
	width: 39%;
	float: left;	
	}

	.contentSection {
	width: 58%;
	float: right;

		h2 {
		font-size: 16px;
		margin: 0 0 10px 0;
		padding: 0;
		color: #303030;

			span {
			margin-right: 10px;	
			}

		}

		p {
		margin: 0 0 5px 0;	
		}

	}

}


.tweetBttn {
float: right;	
}


.iconMar {
margin-right: 5px;
position: relative;
top: -2px;	
}


ul.searchResultsListings {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

	
	&.newsLetter {

		li {

			.imgHold {
			width: 19%;	
			}

			.content {
			width: 79%;	

				h2 {
				font-size: 30px;
				text-transform: uppercase;
				text-decoration: none;
				color: @green;	
				}

				h6 {
				color: @orange;	
				}

				p {
				margin: 0 0 10px 0;	
				}

			}

		}

	}

	
	li {
	padding: 15px 0;
	.clearfix();
		

		.imgHold {
		width: 9%;
		float: left;
		.border-radius(5px);
		overflow: hidden;	
		}


		.content {
		width: 89%;
		float: right;

			h2 {
			font-size: 17px;
			color: @orange;
			font-weight: normal;
			margin: 0 0 5px 0;
			padding: 0;
			text-decoration: underline;	
			}

			h6 {
			font-weight: normal;
			margin: 0 0 5px 0;	
			}

		}


	}


}

.paginationContainer {
padding: 15px 0;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
.clearfix();	
}

ul.paginationListing {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

	li {
	float: left;
	margin-left: 5px;

		a {
		padding: 0 10px;
		display: block;
		font-size: 18px;
		text-transform: uppercase;
		color: #414141;	
		}

	}

}

.nomarginBtm {
margin-bottom: 0px !important;	
}


.siteMapContainer {
margin: 0;
padding: 0;
.clearfix();

	
	h2 {
	font-size: 24px;
	margin: 0 0 15px 0;
	text-transform: uppercase;
	padding: 0;
	font-weight: normal;	
	}


}


ul.siteMapListing {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

	li {
	margin: 0;
	background-image: url('@{baseurl}/sitemap/listbullet.jpg');
	background-repeat: no-repeat;
	background-position: 0 10px;	

		a {
		padding: 3px 0 3px 20px;
		display: block;
		font-size: 16px;
		color: #8f8f8f;

			&:hover, &.focus {
			text-decoration: none;	
			}

		}

	}

}

.marginBtm30 {
margin-bottom: 30px !important;	
}

.viewButton {
padding: 5px 40px !important;
display: inline-block;
.clearfix();
text-align: center !important;
color: #fff !important;
background-image: none !important;
font-size: 13px;
text-transform: uppercase;

	&:hover {
	text-decoration: none;	
	}

}


.otherContactInfoBox {
.clearfix();

	h6 {
	font-size: 18px;
	font-weight: normal;	
	}

}


/*Contact form Section
==================================*/

.contactFormSection {

	h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 15px 0;	
	}

	.form-group {
    margin: 0 0 20px 0;
    padding: 0;
    position: relative;
			div.selector {
            background-image: transparent;
            background-repeat: repeat;
            border: 1px solid #ccc;
            box-shadow: none;
            margin: 0; 
            height: 40px;
            line-height: 10px;
            position: relative;
            width: 100% !important;
            text-align: left;
            color: #202020;
            font-size: 14px;
            text-transform: uppercase;
            background-color: #fff;

                      span { 
                      text-shadow:none; 
                      padding-left:12px;
                      padding-right:8px;
                      background-image:url('@{baseurl}/icons/dropdown-arrow.png');
                      background-position: right 0px;
                      background-repeat:no-repeat;
                      height:40px;
                      line-height:40px;
                      font-size: 11px;
                      text-transform: capitalize;
                      width: 100% !important;
                      display: block;
                      }
                      
                      select {
                      min-width: 70px;
                      border:0;
                      box-shadow:none;
                      position: absolute;
                      top: 0;
                      left: 0;
                      min-height: 33px;
                      .opacity(0);

                        option {
                        padding: 10px 5px;  
                        }

                      }
                          
                          
                        
            }

            label.control-label {
            font-size: 14px;
            font-weight: bold;
            text-align: left;

                &.red {
                position: absolute;
                bottom: -25px;
                font-size: 12px;
                font-weight: normal;    
                }

            }


            input.form-control {
            background: @white;
            padding: 0 10px;
            font-size: 14px;
            color: #bdbdbd;
            .box-shadow(none);
            border: 1px solid #ccc;
            .placeholder(@color: #bdbdbd);
            height: 40px;
            font-weight: normal;
            .border-radius(0);    
            }

            textarea.form-control {
            background: @white;
            padding: 0 10px;
            font-size: 14px;
            color: #bdbdbd;
            .box-shadow(none);
            border: 1px solid #ccc;
            .placeholder(@color: #bdbdbd);
            height: 100px;
            font-weight: normal;
            .border-radius(0);    
            }
	&.captch {
		input {
			width:96%;
		}
	}

    }

}


.sendButton {
margin: 0 0 0 0;
padding: 7px 60px;
font-size: 14px;
color: @white;
cursor: pointer;
text-align: center;
border: 0;
background-color: @green;
float: right;
display: inline-block;
text-transform: uppercase;	
}

/*Contact form Section
==================================*/


.addressSection {
.clearfix();

	p {
	color: #000;
	line-height: 30px;
	
		span {
		margin-right: 5px;
		display: inline-block;	
		}

	}

}

.intrestingFactsSlider {
position: relative;
	.flex-control-nav {
		width:auto;
	bottom: 10px;
	z-index: 999;
	right:20px;
	li {
		margin:0 3px;
		a {
			background:#fff;
			width:9px;
			height:9px;
			&.flex-active {
				background:#000
			}

		}
	}
	}

}


.instagramInnerSlider {
    position: relative;
        .imgHold {
            border:1px solid #eee;
        }

	.flex-direction-nav {

        li {

            a {
            outline: 0;	

                &.flex-prev {
                background-image: url('@{baseurl}/icons/insta-arrow-left.png');
                width: 12px;
                height: 25px;
                cursor: pointer;
                position: absolute;
                bottom: 50%;
                left: -20px;
                margin:0 0 -12px;
                opacity: 1 !important; 
                z-index: 999;
                top: auto;   
                }

                &.flex-next {
                background-image: url('@{baseurl}/icons/insta-arrow-right.png');
                width: 12px;
                height: 25px;
                cursor: pointer;
                position: absolute;
                bottom: 50%;
                right: -20px;
                margin:0 0 -12px;
                left: auto;
                opacity: 1 !important; 
                z-index: 999;
                top: auto;   
                }

            }

        }

    }

}



.twitterInnerSlider {
position: relative;

	.flex-direction-nav {

        li {

            a {
            outline: 0;	

                &.flex-prev {
                background-image: url('@{baseurl}/icons/twitter-arrow-left.png');
                width: 12px;
                height: 25px;
                cursor: pointer;
                position: absolute;
                bottom: 0px;
                left: 0px;
                opacity: 1 !important; 
                z-index: 999;
                top: auto;   
                }

                &.flex-next {
                background-image: url('@{baseurl}/icons/twitter-arrow-right.png');
                width: 12px;
                height: 25px;
                cursor: pointer;
                position: absolute;
                bottom: 0px;
                right: 0px;
                left: auto;
                opacity: 1 !important;  
                z-index: 999;
                top: auto;   
                }

            }

        }

    }


}



.newsletterTabNavigation {
	margin:10px 0 20px 0;
	.clearfix();
	li {
		float:left;
		margin-right:10px;
		a {
			font-size:13px;
			text-transform:uppercase;
			color:#717171;
			padding-left:15px;
			.sprite(0, -247px);
			.transition(all ease 0.5s);
			&:hover {
				text-decoration:none;
				color:#000;
			}
		}
	}
}

.newsLetterTabContentContainer {
.clearfix();
padding: 20px 0;	

}



.register {
	margin-bottom:30px;
	.formgroup {
		margin-bottom:20px;
		.form-label {
			color:#000;
			font-size:14px;
		}
		.form-control {
			border:1px solid #ccc;
			.border-radius(0);
		}
	}

	.btnorange {
		border:0;
		background:@orange;
		display:block;
		text-transform: uppercase;
		color:#fff;
		text-align:center;
		padding:10px 0;
		display:block;
		width:100%;
		&:hover {
			text-decoration:none;
		}
	}

}

.testimonialSlider {
position: relative;

		.flex-control-nav {
		bottom: 20px;
		z-index: 99999;
		left:165px;
		width:auto;
		}


		.flex-control-paging {

			li {
			margin: 0 3px;	

				a {
				width: 9px;
				height: 9px;
				}

			}

		}


}

ul.downloadListings {
margin: 0 0 30px 0;
padding: 0;
list-style: none;
.clearfix();
		
		h2{
			margin: 0 0 15px 0;
		}

		li {
			text-align: center;
			width: 100%;
			.clearfix();
			margin-bottom:0;
			div.one{
				text-align: center;
				border: 1px solid #e5e5e5;
				/*margin: 1px 0;*/
				margin-top: -1px;
				margin-left: -1px;
				width: 33.3%;
				float: left;
				padding: 5px 0;
			}
		/*position: relative;
		margin-bottom: 25px;
			
			.imgHold {
			margin-bottom: 15px;	
			}

			h2 {
			text-align: left;
			font-size: 16px;
			text-transform: uppercase;
			margin: 0 0 5px 0;
			padding: 0;
			color: @orange 	
			}*/

		}

}


.downloadBttn {
margin: 0;
padding: 5px 25px;
display: inline-block;
color: @white;
background-color: @orange;
text-align: center;	
text-transform: uppercase;
font-size: 14px;

	&:hover {
	color: @white;
	text-decoration: none;	
	}

}