

/*Style For Mobile Devices
=========================================================*/

// Let the games begin (site buliding in progress) 
// ============================================================
// ------------------------------------------------------------
// Css Style Guide 
// ----------------------------------
// 1.0 Main-head
// 		1.2 Header-slider
//		1.3 Primary-navigation
//			1.3.1 logo
// 			1.3.2 primary-nav
//			1.3.3 top-side
//				1.3.3.1 language
//				1.3.3.2 searchbox
//				1.3.3.3 socailbtn
// 				1.3.3.4 socialbar
// 		1.4 Secondary-navigation
// ---------------------------------
// 2.0 planyourtripbar
// ---------------------------------
// 3.0 Content-area
// ---------------------------------
// 4.0 welcome-text
// ---------------------------------
// 5.0 shortcut-box
//		 5.1 quicklinks
// ---------------------------------
// 6.0 Home-activites-area
// ---------------------------------
// 7.0 shortcut-links-home
// ---------------------------------
// 8.0 roundedbox
// ---------------------------------
// 9.0 Footer-area
// 		9.1 footer-banner
//		9.2 footer-newsletter
// -------------------------------------

@media (min-width: @screen-md) and (max-width: @screen-md-max) {

// 1.3 Primary-navigation 
// ------------------------------
#Primary-navigation {
	// 1.3.2 primary-nav 
	// --------------------------
	.primary-nav {
		 ul {
		 	li {
		 		a {
		 			font-size:12px;
		 		}
		 	}
		 }
	}

	// 1.3.3 top-side 
	// --------------------------
	.top-side {
		// 1.3.3.1 language 
		// ----------------------------
		.language {
			margin:5px 20px 0 110px;
		}
	}
}

// 1.4 Secondary-navigation 
// ------------------------------
#Secondary-navigation {
	ul {
		li {
			a {
				font-size:18px;
			}
		}
	}
}

// 6.0 Home-activites-area
// ----------------------------
#Home-activites-area {
	li {
		.activity {
			a {
				.title {
					font-size:14px;
					.arrow {
						bottom:45px;
					}
				}
			}
		}
	}
}


.planyourtripbar {
	margin-top:400px;
}
// 7.0 shortcut-links-home 
// ----------------------------
.shortcut-links-home {
	li {
		a {
			span.bar {
				font-size:11px;
			}
		}
	}
}



// 8.0 roundedbox 
// ---------------------------
.roundedbox {
	.thumbnail-round {
		width:28%;
	}
}

// 9.0 Footer-area
// --------------------------
#Footer-area {
	// 9.1 footer-banner
	// -------------------------
	.footer-banner {
		img {
			width:100%;
		}
	}
}



.activitesContainerSection {
background-image: none;

	.bottomFix {
	background-image: none;	
	}

}

.landActivitesSection {

	h2 {
	padding-left: 20px;	
	}

}


.border-box {
//height: auto;	

	&.meetanim {
	height: auto;
	min-height: auto;
	max-height: auto;	
	}

}


.double-box {

	.twopanel {

		p {
		font-size: 12px;
		line-height: 18px;
		height: 75px;
		overflow: hidden;	
		}

	}

}

.single-box {

	p {
	font-size: 12px;
	height: 57px;
	overflow: hidden;	
	}

}

#multiple-btns ul li a {
    padding:0px 5px;
    height:127px;
}

}


@media (min-width: 992px) and (max-width: 1200px) {


    #multiple-btns ul li a {
        height: 120px;
        padding: 20px 5px;
    }
    #multiple-btns.detailPage ul li a {
        height:63px;
    }

}















