

/*Style For Template Portrait Devices
=========================================================*/

// Let the games begin (site buliding in progress) 
// ============================================================
// ------------------------------------------------------------
// Css Style Guide 
// ----------------------------------
// 1.0 Main-head
// 		1.2 Header-slider
//		1.3 Primary-navigation
//			1.3.1 logo
// 			1.3.2 primary-nav
//			1.3.3 top-side
//				1.3.3.1 language
//				1.3.3.2 searchbox
//				1.3.3.3 socailbtn
// 				1.3.3.4 socialbar
// 		1.4 Secondary-navigation
// ---------------------------------
// 2.0 planyourtripbar
// ---------------------------------
// 3.0 Content-area
// ---------------------------------
// 4.0 welcome-text
// ---------------------------------
// 5.0 shortcut-box
//		 5.1 quicklinks
// ---------------------------------
// 6.0 Home-activites-area
// ---------------------------------
// 7.0 shortcut-links-home
// ---------------------------------
// 8.0 roundedbox
// ---------------------------------
// 9.0 Footer-area
// 		9.1 footer-banner
//		9.2 footer-newsletter
// -------------------------------------

@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {


// 1.3 Primary-navigation 
// ------------------------------
#Primary-navigation {
	// 1.3.2 primary-nav 
	// --------------------------
	.primary-nav {
		 ul {
		 	li {
		 		a {
		 			font-size:16px;
		 		}
		 	}
		 }
	}

	// 1.3.3 top-side 
	// --------------------------
	.top-side {
		.top-side-inner {
			margin:0 0 0 78px;
		}
		// 1.3.3.1 language 
		// ----------------------------
		.language {
			margin:5px 20px 0 0;
		}

		// 1.3.3.2 searchbox 
		// --------------------------
		.searchbox {
			width:42%;
		}

		// 1.3.3.4 socialbar 
		// -------------------------
		.socialbar {
			li {
				margin-left:4px;
			}
		}
	}
}

// 1.4 Secondary-navigation 
// ------------------------------
#Secondary-navigation {
	margin-top:150px;
	ul {
		li {
			a {
				font-size:18px;
			}
		}
	}
}

// 2.0 .planyourtripbar 
// ----------------------------
.planyourtripbar {
	margin-top:490px;
}

// 5.0 shortcut-box
// ---------------------------
.shortcut-box {
	.video-box {
		width:75%;
		img {
			width:100%;
			height:auto;
		}
	}

	// 5.1 quicklinks 
	// -----------------------
	.quicklinks {
		a {
			padding:32px 20px 45px;
		}
	}
}

#Header-slider {
	ul {
		li {
			img {
				width:auto;
				height:100%;
			}
		}
	}
}

// 6.0 Home-activites-area
// ----------------------------
#Home-activites-area {
	li {
		.activity {
			a {
				.title {
					font-size:14px;
					.arrow {
						bottom:45px;
					}
				}
			}
		}
	}
}


// 7.0 shortcut-links-home 
// ----------------------------
.shortcut-links-home {
	li {
		a {
			span.bar {
				font-size:18px;
			}
		}
	}
}



// 8.0 roundedbox 
// ---------------------------
.roundedbox {
	.thumbnail-round {
		width:20%;
	}
	.box-content {
		width:80%;
	}
}

// 9.0 Footer-area
// --------------------------
#Footer-area {
	// 9.1 footer-banner
	// -------------------------
	.footer-banner {
		margin-bottom:20px;
		img {
			width:100%;
		}
	}

	.copyright-container {
		.footer-links {
			float:none !important;
			text-align: center;
			.clearfix();
			li {
				float:none;
				display:inline-block;
			}
		}
		.copyright-text {
			float:none !important;
			text-align:center;
		}
	}
}


.innerMapImgHold {

	.textContent {
	width: 50%;	
	}

}


#multiple-btns {

	ul {

		li {
		min-height: 130px;	
		}

	}

}


.double-box {
max-height: 213px;	
.twopanel{
	&.imageholder {
		img {
			width:100%;
		}
	}
}
}


.border-box {
	height:216px;	

	img {
	width: auto;
	height: 100%;	
	}
	&.meetanim {
	height: auto;
	min-height: auto;
	max-height: auto;	
	}

}

.double-box {

	.twopanel {

		p {
		font-size: 12px;
		line-height: 18px;
		height: 50px;
		overflow: hidden;	
		}

	}

}

.single-box {

	p {
	font-size: 12px;
	height: 57px;
	overflow: hidden;	
	}

}


// .double-box {
// 	.twopanel {
// 		width:100%;
// 		float:none;
// 		&.imageholder {

// 		}
// 	}
// }

.intrestingFactsSlider {
	.flex-control-nav {
		bottom:20px;
		left:20px;
	}
}

.single-box {
	height:216px;
	.transparent {
		width:100%;
	}
}


.double-box {
    height: 233px;
    max-height: 233px;
    .twopanel {
        font-size:13px;
    }
    .twopanel.imageholder {
        height: 233px;
        img {
        width:auto;
            height:100%;
        }
    }
}

#multiple-btns ul li a {
    padding:20px 5px;
    height:127px;
}
    
#multiple-btns.detailPage ul li {
    min-height: 63px;
    a {
        height:63px;
    }
}





}