// Let the site begin 
// =================================

@font-face {
  font-family: 'Aspect 2 Regular';
  src: url('../../font/Aspect2-Bold.eot'); /* IE9 Compat Modes */
  src: url('../../font/Aspect2-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../font/Aspect2-Bold.woff') format('woff'), /* Modern Browsers */
       url('../../font/Aspect2-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../font/Aspect2-Bold.svg#4d09851f14c3d98763eb9b0ecb7f409e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}
 
@font-face {
  font-family: 'Aspect 2 Regular';
  src: url('../../font/Aspect2-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../font/Aspect2-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../font/Aspect2-Regular.woff') format('woff'), /* Modern Browsers */
       url('../../font/Aspect2-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../font/Aspect2-Regular.svg#85163cd729d186af7e621e1ae743a3e7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

// Getting elements and color ready for using different colors 
// ============================================================
// ------------------------------------------------------------

// Mixins for sir bani yas
// ----------------------------
.sprite(@xside,@yside){
	background-image:url('@{sprites}');
	background-position:@xside @yside;
	background-repeat:no-repeat;
}

// General through out the site 
// -----------------------------
body {
	
	font-weight: 400;
}
.relative {
	position:relative;
	z-index: 10;
}

.capital {
	text-transform:uppercase;
}

.centeralized {
	text-align:center;
}

.clearAll {
	display:block;
	clear:both;
}
.figcaption {
	font-weight:400;
	margin-bottom:30px;
}

.subtitlepage {
	margin-top:0;
	font-weight:400;
	text-transform: uppercase;
}

.imagethumb {
	overflow:hidden;
	margin-bottom:30px;
	a {
		display:block;
	}
}

.bookingmourning {
	color:@orange;
	font-weight:700;
	font-size:14px;
	padding-right:25px;
	margin-bottom:30px;
	display:block;
	.sprite(-850px, -88px);
	text-decoration:underline;
	.transition(all ease 0.5s);
	&:hover {
		.sprite(-840px, -88px)
	}
	&.bluefont {
		.sprite(-825px, -103px);
		&:hover {
			.sprite(-835px, -103px);
		}
	}
}
// font color starts here
// ----------------------------
.orangefont {
	color:@orange !important;
}

.bluefont {
	color:@blue  !important;
}

.greenfont {
	color:@green !important;
}

.dbluefont {
	color:@dblue !important;
}

.purplefont {
	color:@purple !important;
}
.yellowfont {
	color:@yellow !important;
}

.brownfont {
	color:@brown !important;
}

// font color ends here
// ----------------------------


// background color starts here
// ----------------------------

.orangebg {
	background-color:@orange;
}

.bluebg {
	background-color:@blue;
}

.greenbg {
	background-color:@green;
}

.dbluebg {
	background-color:@dblue;
}

.purplebg {
	background-color:@purple;
}
.yellowbg {
	background-color:@yellow;
}

.brownbg {
	background-color:@brown;
}

// background color ends here
// ----------------------------


// border color starts here
// ----------------------------

.orangebr {
	border-color:@orange;
}

.bluebr {
	border-color:@blue;
}

.greenbr {
	border-color:@green;
}

.dbluebr {
	border-color:@dblue;
}

.purplebr {
	border-color:@purple;
}
.yellowbr {
	border-color:@yellow;
}
.borwnbr {
	border-color:@brown;
}
// background color ends here
// ----------------------------


// Let the games begin (site buliding in progress) 
// ============================================================
// ------------------------------------------------------------
// Css Style Guide 
// ----------------------------------
// 1.0 Main-head
// 		1.2 Header-slider
//		1.3 Primary-navigation
//			1.3.1 logo
// 			1.3.2 primary-nav
//			1.3.3 top-side
//				1.3.3.1 language
//				1.3.3.2 searchbox
//				1.3.3.3 socailbtn
// 				1.3.3.4 socialbar
// 		1.4 Secondary-navigation
// ---------------------------------
// 2.0 planyourtripbar
// ---------------------------------
// 3.0 Content-area
// ---------------------------------
// 4.0 welcome-text
// ---------------------------------
// 5.0 shortcut-box
//		 5.1 quicklinks
// ---------------------------------
// 6.0 Home-activites-area
// ---------------------------------
// 7.0 shortcut-links-home
// ---------------------------------
// 8.0 roundedbox
// ---------------------------------
// 9.0 Footer-area
// 		9.1 footer-banner
//		9.2 footer-newsletter
// ---------------------------------
// 10.0 title-bar
// ---------------------------------
// 11.0 page-breadcrumb
// ---------------------------------
// coloring for a specific section
// 12.0 mainsection
// 		12.1 wildlife-section
//			12.1.1 page-breadcrumb
//			12.1.2 title-bar
// --------------------------------
// 13.0 parallax-section
//		13.1 image-container
//		13.2 white-wrapper
// --------------------------------
// 14.0 multiple-btns
// --------------------------------
// 17.0 footer-nav
// --------------------------------
// 18.0 breadcrumb
// --------------------------------
// 19.0 success-stories
// --------------------------------
// 20.0 meet-the-animals
// --------------------------------
// 21.0 animals-listings
// --------------------------------
// 22.0 flighttable
// --------------------------------




// 1.0 Main-head starts here 
// ==================================
// ==================================
#Main-head {
	
	position:fixed;
	width:100%;
	left:0;
	top:0;
	z-index: -1;
	.container {
		position:realtive;
	}
}



// 1.2 Header-slider starts here 
// ==================================
#Header-slider {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	height:490px;
	overflow:hidden;
	ul {
		margin:0 0 0 0;
		li {
			width:100%;
			position: relative;
			.editbtnadmin {
				position: absolute;
				left:0;
				bottom:60px; 
				z-index: 9999;
			}
			img {
				width:100%;
			}
		}
	}
}





// 1.3 Primary-navigation starts here 
// ==================================
#Primary-navigation {
	position: relative;
	z-index: 2;
	left:0;
	top:0;
	// 1.3.1 logo starts here 
	// ----------------------
	.logo {
		display:block;
		.sprite(0px,0px);
		height:140px;
	}
	
	// 1.3.2 primary-nav starts here
	// -----------------------------
	.primary-nav {
		ul {
			.clearfix();

			li {
				float:left;
				a {
					color:#fff;
					font-size:@font-size-base;
					text-transform: uppercase;
					padding-left:33px;
					.sprite(-977px, 5px);
					.transition(all ease 0.5s);
					&:hover {
						text-decoration:none;
						background-position:-948px 5px;
					}
				}
				&.active {
					a {
						text-decoration:none;
						background-position:-948px 5px;
					}
				}
				&:first-child {
					a {
						//padding-left:35px;
					}
				}
			}
		}
	}

	// 1.3.3 top-side starts here
	// ----------------------------
	.top-side {
		.clearfix();
		margin-top:37px;
		margin-bottom:37px;
        
        .top-side-inner {
            margin:0 0 0 218px;
        }

		// 1.3.3.1 language starts here
		// -----------------------------
		.language {
			
			margin:5px 20px 0 107px; 
			li {
				float:left;
				margin-left:5px;
				&:first-child {
					margin-left:0;
				}
				a {
					padding:4px 15px 2px;
					color:#fff;
					.transition(all ease 0.5s);
					&:hover {
						text-decoration:none;
						background-color:@blue;
					}
				}

				&.active {
					a {
						background-color:@blue;
					}
				}
			}
		}

		// 1.3.3.2 searchbox starts here
		// ------------------------------
		.searchbox {
			width:28%;
			background-color:#fff;
			position:relative;
			margin-right:20px;
			input {
				border:none;
				padding:3px 5px 3px 10px;
				display:block;
				width:83%;
				background-color:transparent;
				font-size:12px;
				line-height:24px;
				text-transform: uppercase;
				&:focus {
					box-shadow:none;
					outline:0
				}
			}
			.btn {
				position:absolute;
				right:0;
				top:0;
				.sprite(-183px, 8px);
				width:40px; height:30px;
				text-indent: 9999px;
				.opacity(.5);
				.transition(all ease 0.5s);
				&:hover {
					.opacity(1);
				}
			}
		}

		// 1.3.3.3 socialbtn starts here
		// ------------------------------
		.socialbtn {
			background-color:@orange;
			padding:4px 15px;
			color:#fff;
			font-size:16px;
			text-transform:uppercase;
			margin-right:20px;
			.transition(all ease 1s);
			&:hover {
				background-color:@blue;
				text-decoration:none;
			}
		}

		// 1.3.3.4 socialbar starts here
		// ------------------------------
		.socialbar {
			.clearfix();
			margin:0 0 0 0;
			li {
				float:left;
				margin-left:19px;
				a {
					width:32px;
					height:30px;
					display:block;
					.sprite(-4px, -163px);
					.transition(all ease 0.5s);
				}
				&.facebook {
					a {
						backgorund-position:-4px -163px;
						&:hover {
							background-position:-4px -194px;
						}
					}
				}

				&.pintrest {
					a {
						background-position:-46px -163px;
						&:hover {
							background-position:-46px -194px;
						}
					}
				}

				&.twitter {
					a {
						background-position:-91px -163px;
						&:hover {
							background-position:-91px -194px;
						}
					}
				}

				&.youtube {
					a {
						background-position:-140px -163px;
						&:hover {
							background-position:-140px -194px;
						}
					}
				}

				&:first-child {
					margin-left:0;
				}
			}
		}
	}
}






// 1.4 Secondary-navigation starts here 
// =====================================
#Secondary-navigation {
	position: relative;
	z-index: 2;
	margin-top:70px;
	ul {
		.clearfix();
		li {
			a {
				display:block;
				text-align:center;
				padding:10px 0;
				font-size:20px;
				color:#fff;
				.transition(all ease 0.5s);
				&:hover {
					text-decoration:none;
					.border-radius(5px);
				}
			}
			.arrow {		
			    display: block;
			    border: 18px solid transparent;
			    border-top-color: #000;
			    position: absolute;
			    bottom: -18px;
			    .opacity(0);
			    left: 50%;
			    margin-left: -12px;
				.transition(all ease 0.5s);
			    &.orangebr {
			    	border-top-color:@orange;
			    }
			    &.bluebr {
			    	border-top-color:@blue;
			    }
			    &.purplebr {
			    	border-top-color:@purple
			    }
			    &.dbluebr {
			    	border-top-color:@dblue;
			    }
			    &.yellowbr {
			    	border-top-color:@yellow;
			    }
			    &.greenbr {
			    	border-top-color:@green;
			    }
			}
			&:hover,&.active {
				a {
					.border-radius(5px);
				}
				.arrow {
					bottom:-30px;
					.opacity(1);
				}
			}
		}
	}
}





// 2.0 planyourtripbar starts here
// ==================================
// ==================================
.planyourtripbar {
	margin-top:475px;
    background-color:#f1f1f1;
    padding:20px 0;
    .centeralized {
    	text-align:center;
    	.label {
    		background-color:@green;
    		font-size:13px;
    		text-transform:uppercase;
    		color:#fff;
    		padding:6px 10px 5px;
    		position: relative;
    		margin-right:15px;
    		
    		span {
    			display: block;
			    border: 8px solid transparent;
			    border-left-color: @green;
			    position: absolute;
			    position:absolute;
			    right:-14px;
			    top:6px;
    		}
    	}

    	.selector {
    		border:none;
    		padding:4px 10px 1px;
    		font-size:11px;
    		color:#b1b1b1;
    		width:30%;
    		text-transform: uppercase;
    		line-height: 24px;
    		margin-right:10px;
    		background:#fff;
    		position: relative;
    		display:inline-block;
			span {
				width:100%;
				text-align:left;
				display:block;
				
				line-height: 24px;
			}
    		select {
    			.opacity(0);
    			position: absolute;
    			width:100%;
    			height:29px;

                      top: 5px;
                      left: 0;
    		}
    	}
    	.planyourtripbtn {
    		border:none;
    		background-color:@green;
    		font-size:13px;
    		text-transform:uppercase;
    		color:#fff;
    		padding:6px 10px 5px;
    		&:hover {
    			text-decoration:none;
    		}
    	}
    }

}

 



// 3.0 Content-area
// ==================================
// ==================================
#Content-area {
	background-color:#fff;
}






// 4.0 welcome-text
// ==================================
// ==================================
.welcome-text {
	padding-bottom:0;
	padding-top:30px;
	.subtitle {
		color:#8f8f8f;
		margin-top:0;
	}
}




// 5.0 shorcut-box
// ==================================
// ==================================
.shortcut-box {
	margin-bottom:50px;
	.clearfix();
	// 5.1 quicklinks 
	// -----------------------
	.quicklinks {
		width:25%;
		float:left;
		a {
			color:#fff;
			font-size:18px;
			line-height:17px;
			padding:25px 20px 35px;
			display:block;
			position:relative;
			.transition(all ease 0.5s);
			span.arrow {
				border:10px solid transparent;
				border-left-color:@orange;
				position:absolute;
				right:0;
				top:0;
				z-index: 2;
				.transition(all ease 0.5s);
			}

			&.purplebg {
				span.arrow {
					border-left-color:@purple;
				}
			}

			&.orangebg {
				span.arrow {
					border-left-color:@orange;
				}
			}

			&.greenbg {
				span.arrow {
					border-left-color:@green;
				}
			}
			&:hover {
				text-decoration:none;
				.linkarrow {
					left:80px;
				}
			}
			.linkarrow {
				width:16px;
				height:12px;
				.sprite(-983px, -56px);
				position:absolute;
				left:20px;
				bottom:10px;
				.transition(all ease 0.5s);
			}

			&.active,&:hover {
				span.arrow {
					right:-19px;
				}
			}
		}
	}
	
	// video-box
	// -----------------------
	.video-box {
		width:70%;
		float:left;
		position:relative;
		max-height:282px;
		overflow:hidden;
		z-index: 1;
		a.playbtn {
			position:absolute;
			left:45%;
			top:45%;
			right:0;
			width:33px;
			height:33px;
			.sprite(-185px, -27px);
			cursor: pointer;
			z-index: 1;
		}

		a.editbtnadmin {
			position: absolute;
			bottom:0;
			left:0;
		}
	}

	.photo-box {
        display:none;
		width:70%;
		float:left;
		position:relative;
		max-height:282px;
		overflow:hidden;
		z-index: 1;
		a.playbtn {
			position:absolute;
			left:45%;
			top:45%;
			right:0;
			width:33px;
			height:33px;
			.sprite(-185px, -27px);
			cursor: pointer;
			z-index: 1;
		}
		a.editbtnadmin {
			position: absolute;
			bottom:0;
			left:0;
		}
	}

	.map-box {
		display:none;
		width:70%;
		float:left;
		position:relative;
		max-height:282px;
		overflow:hidden;
		z-index: 1;
		a.playbtn {
			position:absolute;
			left:45%;
			top:45%;
			right:0;
			width:33px;
			height:33px;
			.sprite(-185px, -27px);
			cursor: pointer;
			z-index: 1;
		}
		a.editbtnadmin {
			position: absolute;
			bottom:0;
			left:0;
		}
	}
}

.fancybox-opened .fancybox-title {
    // left:0px;
    // right:0px;
    // white-space:nowrap;
}



// 6.0 Home-activites-area
// ==================================
// ==================================
#Home-activites-area {
	background-color:#f2f2f2;
	padding:30px 0;
	.panel-heading {
		font-weight:400;
		color:#444444;
		margin-bottom:30px;
	}

	li {
		margin-bottom:30px;
		.activity {
			a {
				display:block;
				.border-radius(5px);
				background-color:@orange;
				padding:0 0 0 0;
				position:relative;
				img {
					.border-radius(5px);
					width:100%;
					.transition(all ease 0.5s);
					.scale(1,1);
				}

				.title {
					color:#fff;
					text-transform:uppercase;
					padding:15px 0;
					margin:0 0 0 0;
					width:100%;
					font-weight:400;
					font-size:15px;
					text-align: center;
					position: absolute;
					left:0;
					bottom:0;
					.border-bottom-radius(5px);
					.transition(all ease 0.5s);
					.opacity(.8);

					.arrow {
						border:10px solid transparent;
						position:absolute;
						left:50%;
						margin-left:-12px;
						.transition(all ease 0.5s);
						bottom:0;
						.opacity(0);
					}

					&.orangebg {
						.arrow {
							border-bottom-color:@orange;
						}
					}
					&.purplebg {
						.arrow {
							border-bottom-color:@purple;
						}
					}
					&.greenbg {
						.arrow {
							border-bottom-color:@green;
						}
					}
					&.bluebg {
						.arrow {
							border-bottom-color:@blue;
						}
					}
					&.dbluebg {
						.arrow {
							border-bottom-color:@dblue;
						}
					}
					&.brownbg {
						.arrow {
							border-bottom-color:@brown;
						}
					}
					&.yellowbg {
						.arrow {
							border-bottom-color:@yellow;
						}
					}
				}
				&:hover {
					img {
						.scale(1.1,1.1);
					}
					.title {
						.opacity(1);
						.arrow {
							bottom:46px;
							.opacity(1);
						}
					}
				}
			}
		}
	}
}







// 7.0 shortcut-links-home
// ==================================
// ==================================
.shortcut-links-home {
	margin:0 0 20px 0;
	.clearfix();
	li {
		width:25%;
		float:left;
		a {
			display:block;
			margin-left:2px;
			overflow:hidden;
			img {
				width:100%;
				height:108px;
				.transition(all ease 0.5s);
				.scale(1,1);
			}
			span.bar {
				width:100%;
				padding:8px 0;
				font-size:15px;
				text-transform: uppercase;
				color:#fff;
				text-align:center;
				display:block;
				position: relative;
				span.arrow {
					border: 10px solid transparent;
					border-bottom-color: #000;
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -8px;
					position:absolute;
					.opacity(0);
					.transition(all ease 0.8s);
				}
				&.orangebg {
					span.arrow {
						border-bottom-color:@orange;
					}
				}
				&.bluebg {
					span.arrow {
						border-bottom-color:@blue;
					}
				}
				&.purplebg {
					span.arrow {
						border-bottom-color:@purple;
					}
				}
				&.dbluebg {
					span.arrow {
						border-bottom-color:@dblue;
					}
				}
				&.yellowbg {
					span.arrow {
						border-bottom-color:@yellow;
					}
				}
				&.greenbg {
					span.arrow {
						border-bottom-color:@green;
					}
				}
			}
			&:hover {
				text-decoration:none;
				img {
					.scale(1.1,1.1);
				}
				span.bar {
					span.arrow {
						top: -20px;
						.opacity(1);
					}
				}
			}

		}

		&:first-child {
			a {
				margin-left:0;
				
			}
		}
	}
}





// 8.0 roundedbox 
// ==================================
// ==================================
.roundedbox {
	.clearfix();
	.thumbnail-round {
		width:25%;
		float:left;
		margin-right:3%x;
		position:relative;
		.roundedcontainer {
			position:relative;
			z-index:2;
		}
		.normal-thumb {
			position:absolute;
			z-index: 1;
			left:0;
			top:0;
		}
	}
	.box-content {
		width:72%;
		float:left;
		position:relative;
		.title-box {
			text-transform: uppercase;
			font-weight:400;
			margin-bottom:10px;
			a {
				.transition(all ease 0.5s);
				&:hover {
					text-decoration:none;
				}
			}
		}

		.sub-title {
			text-transform:uppercase;
			font-weight:400;
			color:#8f8f8f;
			margin-top:0;
			margin-bottom:10px;
			max-height: 15px;
			overflow:hidden;
			a {
				color:#8f8f8f;
			}
		}
		p {
			width:90%;
			font-size:15px;
			font-weight: 400;
			max-height:64px;
			overflow:hidden;
			margin-bottom:12px;
		}

		a.mainarrow {
			position:absolute;
			width:16px;
			height:12px;
			.sprite(-983px, -77px);
			position:absolute;
			right:0px;
			bottom:20px;
			.transition(all ease 0.5s);
		}

		.readmorebtn {
			color: #fff;
			font-size: 14px;
			z-index: 2;
			position: relative;
			padding-right: 35px;
			.sprite(-883px,-52px);
			.transition(all ease 0.5s);
			font-weight:700;
			display:block;
			&:hover {
				text-decoration:none;
			}
		}
	}

	&:hover {
		.box-content {
			.mainarrow {
				right :30px;
			}
		}
	}
	
	&.oneBlock {

		.thumbnail-round {
		width: 11% !important;	
		}

	}


	&.inner {
		margin-bottom:30px;
		.thumbnail-round  {
			width:25%;
			margin-right:5%;
			overflow:hidden;
			img {
				width:100%;
				height:100%;

			}
		}
		.box-content {
			width:70%;
			.title-box {
				margin-bottom:4px;
				a {
					font-weight:700;
				}
			}
			.sub-title {
				text-transform: none;
				font-weight:700;
				margin-top:0;
				margin-bottom:4px;
			}
			p {
				width:100%;
				margin-bottom:10px;
				line-height:16px;
			}
		}
	}

	&.blue {
		.box-content {
			.title-box {
				a {
					color:@blue;
				}
			}
			.readmorebtn {
				color:@blue;
				.sprite(-893px,-106px);
				&:hover {
					.sprite(-903px, -106px);
				}
			}
		}
	}
	&.green {
		.box-content {
			.title-box {
				a {
					color:@green;
				}
			}
			.readmorebtn {
				color:@green;
				.sprite(-893px,-73px);
				&:hover {
					.sprite(-903px, -73px);
				}
			}
		}
	}

	&.purple {
		.box-content {
			.title-box {
				a {
					color:@purple;
				}
			}
			.readmorebtn {
				color:@purple;
				.sprite(-893px,-140px);
				&:hover {
					.sprite(-903px, -140px);
				}
			}
		}
	}

	&.orange {
		.box-content {
			.title-box {
				a {
					color:@orange;
				}
			}
			.readmorebtn {
				color:@orange;
				.sprite(-893px,-90px);
				&:hover {
					.sprite(-903px, -90px);
				}
				&.extra {
					.sprite(-815px,-90px);
					&:hover {
						.sprite(-835px,-90px);
					}
				}
			}
		}

	}
    
    &.homepageboxer {
        .box-content {
            p {
                max-height:100%; 
            }
        }
    }


}

.slidertravel {
    position:relative;
    ul {
        .clearfix();
        li {
            float:left;
        }
    }
    .flex-control-nav {
        bottom:10px;
        right:10px;
        width:auto;
        z-index:9;
        li {
            margin:0 3px;
            a {
                &.flex-active {
                    background-color:@green;
                }
            }
        }
    }
}



// 9.0 Footer-area
// ==================================
// ==================================
#Footer-area {
	background:#fff;
	padding-top:30px;
	// 9.1 footer-banner 
	// ----------------------
	.footer-banner {
		
		display:block;
	}

	// 9.2 footer-newsletter 
	// ---------------------
	.footer-newsletter {
		
		h4 {
			color:@brown;
			font-weight:400;
			margin:0 0 10px 0;
		}

		.form-group {
			position:relative;
			.newsletter-field {
				border:1px solid #bcb4a3;
				width:65%;
				color:#c1a275;
				font-size:12px;
				float:left;
				line-height:27px;
				padding:0 20px 0 10px;
				border-right:0;
				margin-bottom:5px;
			}
			.subscribe-btn {
				border:none;
				color:#fff;
				width:35%;
				float:left;
				text-align:center;
				margin-bottom:5px;
				padding:2px 0 3px 0;
			}

			.arrow {
				border:14px solid transparent;
				border-left-color:#fff;
				position:absolute;
				left:65%;
			}

			.info {
				display:none;
				font-size:14px;
				margin-top:5px;
				.transition(all ease  0.5s);
				a {
					text-decoration:underline;
				}
			}
		}
	}
	
	// 9.3 copyright-container
	.copyright-container {
		margin-top:130px;
		padding:10px 0px;
		.footer-links {
			margin:17px 0 0 0;
			li {
				float:left;
				a {
					color:#fff;
					font-size:12px;
					text-transform:uppercase;
					padding-left:5px;
					margin-left:5px;
					border-left:1px solid #fff;
					display:block;
					line-height:12px;
				}
				&:first-child {
					a {
						margin-left:0;
						padding-left:0;
						border-left:0;
					}
				}
			}
		}

		.copyright-text {
			text-align:right;
			font-size:12px;
			color:#fff;
			a {
				color :#fff;
				text-decoration:underline;
			}
		}

		.island-graphics {
			.sprite(0,-890px);
			width:550px;
			height:110px;
			position:absolute;
			left:0;
			top:-120px;
			display:block;
		}
	}
}





// 10.0 title-bar 
// ==================================
// ==================================
.title-bar {
	padding:8px 0;
	margin-bottom:20px;
	.container {
		position:relative;
	}
	.title {
		font-size:24px;
		color:#fff;
		text-transform:uppercase;
		margin:0 0 0 0;
		padding:0 0 0 0;
		font-weight:400;
		line-height:24px;
	}

	.arrow {
		border:18px solid transparent;
		border-top-color:#000;
		position:absolute;
		left:40px;
		bottom:-40px;

	}

	&.orangebg {
		.arrow {
			border-top-color:@orange;
		}
	}

	&.purplebg {
		.arrow {
			border-top-color:@purple;
		}
	}
	&.greenbg {
		.arrow {
			border-top-color:@green;
		}
	}
	&.bluebg {
		.arrow {
			border-top-color:@blue;
		}
	}
	&.yellowbg {
		.arrow {
			border-top-color:@yellow;
		}
	}
	&.dbluebg {
		.arrow {
			border-top-color:@dblue;
		}
	}
}






// 11.0 page-breadcrumb
// ==================================
// ==================================
.page-breadcrumb {
	margin:10px 0 20px 0;
	.clearfix();
	li {
		float:left;
		margin-right:10px;
		a {
			font-size:13px;
			text-transform:uppercase;
			color:#717171;
			padding-left:15px;
			.sprite(0, -247px);
			.transition(all ease 0.5s);
			&:hover {
				text-decoration:none;
				color:#000;
			}
		}
	}
}






// 12.0 mainsection
// ==================================
// ==================================
.mainsection {
	// 12.1 wildlife-section
	// ------------------------------
	&.wildlife-section {

		// 12.1.1 page-breadcrumb
		// ----------------------
		.page-breadcrumb {
			a {

			}
		}

		
	}
}








// 13.0 parallax-section
// ==================================
// ==================================
.parallax-section {
	margin:0 0 0 0;
	.adventurelisting {
		li {
			height:633px;
			.image-container {
				max-height:628px;
			}
		}
	}
	li {
		position:relative;
		padding-bottom:5px;
		margin-top:60px;
		height:451px;
		overflow:hidden;
		// 13.1 image-container
		// ---------------------------
		.image-container {
			position: absolute;
			width:100%;
			left:0;
			top:0;
			z-index: 1;
			border-bottom:1px solid #fff;
			max-height:446px;
			overflow:hidden;
			img {
				//width:100%;
			}
		}
		// 13.2 white-wrapper
		// --------------------------
		.white-wrapper {
			background:#fff;
			.border-radius(10px);
			height:100%;
			padding:30px;
			margin:10% 0;
			position: relative;
			z-index: 2;
			.title {
				font-weight:400;
				margin-top:0;
				padding-top:0;
			}
			.readmore-btn {
				color:@green;
				padding-right:35px;
				.sprite( -878px, -70px);
				.transition(all ease 0.5s);
				&:hover {
					text-decoration:none;
				}
			}
		}

		&.greenbg {
			.white-wrapper {
				.title {
					color:@green;
				}
				.readmore-btn {
					color:@green;
					.sprite( -878px, -70px);
					&:hover {
						.sprite( -892px, -70px);
					}
				}
			}
		}

		&.orangebg {
			.white-wrapper {
				.title {
					color:@orange;
				}
				.readmore-btn {
					color:@orange;
					.sprite( -878px, -88px);
					&:hover {
						.sprite( -892px, -88px);
					}
				}
			}
		}

		&.bluebg {
			.white-wrapper {
				.title {
					color:@blue;
				}
				.readmore-btn {
					color:@blue;
					.sprite( -878px, -106px);
					&:hover {
						.sprite( -892px, -106px);
					}
				}
			}
		}

		&.purplebg {
			.white-wrapper {
				.title {
					color:@purple;
				}
				.readmore-btn {
					color:@purple;
					.sprite( -878px, -139px);
					&:hover {
						.sprite( -892px, -139px);
					}
				}
			}
		}
		&:first-child {
			margin-top:0;
		}
	}
}








// 14.0 multiple-btns
// ===================================
// ===================================
#multiple-btns {
	padding-top:20px;
	background-color:#fff;
	&.nomargintop {
		padding-top:0;
	}

    &.wateractivities.threebtn {
        ul {
            li {
                width:33%;
                a {
                    span {
                        top:-1px;
                        margin-right:10px;
                    }
                    h3 {
                        margin: 13px 0 0 0;
                        width:auto;
                    }
                }
            }
        }
    }

	&.detailPage {
	padding-top: 20px;

		&.water {
		text-align: center;	

			ul {
			display: inline-block;
			width: 100%;	

				li {
				
				display: inline-block;
				float:none;
				}

			}

		}


		ul {

			&.RedBull {
				text-align:center;
				li {
					float:none;
					display:inline-block;
				}
			}

			li {
			margin-left: 0.5%;
			width: 13.85%;	

				a {
				padding: 10px 0 0 0;
				min-height: 58px;
				text-align: center;

					&.oneline {

						span {
						top: -1px;	
						}

						h3 {
						margin-top: 14px;	
						}

					}	

					span {
					display: inline-block;
					margin-right: 3px;
					height: auto;
					position: relative;
					top: -7px;	
					}

					h3 {
					text-align: left;
					display: inline-block;
					margin: 5px 0 0 0;
					padding: 0;
					color: #fff;
					font-size: 12px;
					font-weight: normal;
					line-height: 15px;
					width: 70%;	
					}

				}

			}

		}

	}

	ul {
		.clearfix();
		margin:0 0 0 0;
		li {
			float:left;
			width:12.520%;
			margin-left:2%;
			.transition(all ease 0.5s);
			&:hover {
				.scale(1.1, 1.1);
			}
			a {
				display:block;
				color:#fff;
				padding:20px 00px;
				text-align:center;
				font-size:14px;
				text-transform: uppercase;
				
				&:hover {
					text-decoration:none;
					
				}
				span {
					display:block;
					
					height:40px;
				}
			}
			&:first-child {
				margin-left:0;
			}
			&.purplebg {
				border:1px solid darken(@purple, 10%);
				&:hover {
					
				}
			}
			&.bluebg {
				border:1px solid darken(@blue, 10%);
				&:hover {
					.box-shadow(inset 0 0 20px darken(@blue, 10%));
				}
			}
			&.orangebg {
				border:1px solid darken(@orange, 10%);
				&:hover {
					
				}
			}
			&.greenbg {
				border:1px solid darken(@green, 10%);
				&:hover {
					
				}
			}
			&.dbluebg {
				border:1px solid darken(@dblue, 10%);
				&:hover {
					
				}
			}
			&.yellowbg {
				border:1px solid darken(@yellow, 10%);
				&:hover {
					
				}
			}
		}
	}

	&.meetanimalsbtn {
		ul {
			li {
				a {
					height:80px;
				}
				&.single {
					a {
						padding:30px 0;
					}
				}
			}
		}
	}
}








// 15.0 section-footer
// ===================================
// ===================================
#section-footer {
	background-color:#fff;	
}
.intrestingFactsSlider {
	height:233px;
	overflow:hidden;
	margin-bottom:30px;
}
	// 15.1 double-box 
	// -------------------------------------
	.double-box {
		margin-bottom:30px;
		height:233px;
		overflow:hidden;
		.clearfix();
		.twopanel {
			width:45%;
			

			float:left;
			padding:20px 20px 20px;
			color:#fff;
			position:relative;
			&.imageholder {
				width:55%;
				padding:0 0 0 0;
				img {
					
					height:100%;
				}
			}
			.title {
				color:#fff;
				margin-top:0;
				font-size:19px;
				a {
					color:#fff;
					&:hover {
						text-decoration:none;
					}
				}
			}
			.subtitle {
				color:#fff;
				margin-top:0;
				font-size:14px;
				a {
					color:#fff;
					&:hover {
						text-decoration:none;
					}
				}
			}
			p {
				color:#fff;
				font-size:14px;
				margin-bottom:0;
				line-height:20px;
				height: 95px;
				overflow: hidden;
			}
			.arrow {
				border:18px solid transparent;
				border-left-color:#000;
				position:absolute;
				right:-30px;
				top:10px;
				z-index: 3;
			}

			.readmorebtn {
				.sprite(-903px, -52px);
				padding-right:25px;
				color:#fff;
				font-size:14px;
				position:absolute;
				bottom:10px;
				left:20px;
			}
		}
		&.greenbg {
			.arrow {
				border-left-color:@green;
			}
		}
		&.orangebg {
			.arrow {
				border-left-color:@orange;
			}
		}
		&.purplebg {
			.arrow {
				border-left-color:@purple;
			}
		}
		&.bluebg {
			.arrow {
				border-left-color:@blue;
			}
		}
		&.dbluebg {
			.arrow {
				border-left-color:@dblue;
			}
		}
		&.yellowbg {
			.arrow {
				border-left-color:@yellow;
			}
		}
		&.big {
			.twopanel {
				width:40%;
				&.imageholder {
					width:60%;
				}
			}
		}
	}

	.smallervet {
		.single-box {
			.title {
				font-size:12px; 
			}

			p {
				height:120px;
				overflow:hidden;
			}
		}
	}

	// 15.2 single-box
	// -------------------------------------
	.single-box {
		margin-bottom:30px;
		overflow:hidden;
		position:relative;
		padding:20px 20px 10px;
		height:233px;
		overflow:hidden;
		.transparent {
			.opacity(.2);
			position:absolute;
			left:0;
			top:0;
			right:0;
			bottom:0;
			z-index: 1;
		}

		.title {
			color: #fff;
			margin-top: 0;
			font-size: 19px;
			z-index: 2;
			position:relative;
			a {
				color:#fff;
				&:hover {
					text-decoration:none;
				}
			}
		}

		p {
				color:#fff;
				font-size:14px;
				margin-bottom:14px;
				line-height:20px;
				z-index: 2;
				position:relative;
			}

		.readmorebtn {
			color:#fff;
			font-size:14px;
			z-index: 2;
			position:relative;
			padding-right:40px;
			.sprite(-893px, -51px);
			.transition(all ease 0.5s);
			&:hover {
				text-decoration:none;
				.sprite(-903px, -51px);
			}
		}

		&.smallvets {
			padding:30px 15px;
			.title {
				font-size:13px;
			}
			p {
				height:100px;
				overflow:hidden;
			}
		}

		.editbtnadmin {
			position:absolute;
			bottom:0;
			right:0;
			z-index: 9;
		}
	}



// 16.0 border-box 
// ===================================
// ===================================
.border-box {
	position:relative;
	padding-bottom:8px;
	max-height:235px;
	overflow:hidden;
	margin-bottom:30px;
	height:233px;
	a.editbtnadmin {
		position: absolute;
		left:0;
		bottom:0;
	}
	img {
		height:100%;
		max-height:228px;
		border-bottom:1px solid #fff;
		width:auto;
	}

	.linkbtn {
		padding:10px 20px;
		color:#fff;
		position:absolute;
		left:0;
		top:20px;
		right: 0;
		margin: 0px auto;
		width: 92%;
		text-align: center;
		background-color:#000;
		.transition(all ease 0.5s);
		&:hover {
			text-decoration:none;
		}
		
	}
	&:hover {
		.linkbtn{
			text-decoration:none;
			.arrow {
				.opacity(1);
				bottom:-28px;
			}
		}
	}

	.arrow {
		border:14px solid transparent;
		border-top-color:#000;
		position: absolute;
		left:50%;
		bottom:0;
		margin-left:-12px;
		.opacity(0);
		.transition(all ease 0.5s);
	}

	&.bluebg {
		.arrow {
			border-top-color:@blue;
		}
		.linkbtn {
			background-color:@blue;
			&:hover {
				
			}
		}
		.readmoreBttn1 {
			color:@blue;
		}
	}
	&.orangebg {
		.arrow {
			border-top-color:@orange;
		}
		.linkbtn {
			background-color:@orange;
			&:hover {
				
			}
		}

		.readmoreBttn1 {
			color:@orange;
		}
	}
	&.greenbg {
		.arrow {
			border-top-color:@green;
		}
		.linkbtn {
			background-color:@green;
			&:hover {
				
			}
		}
		.readmoreBttn1 {
			color:@green;
		}
	}
	&.dbluebg {
		.arrow {
			border-top-color:@dblue;
		}
		.linkbtn {
			background-color:@dblue;
			&:hover {
				
			}
		}
		.readmoreBttn1 {
			color:@dblue;
		}
	}
	&.purplebg {
		.arrow {
			border-top-color:@purple;
		}
		.linkbtn {
			background-color:@purple;
			&:hover {
				
			}
		}
		.readmoreBttn1 {
			color:@purple;
		}
	}
	&.yellowbg {
		.arrow {
			border-top-color:@yellow;
		}
		.linkbtn {
			background-color:@yellow;
			&:hover {
				
			}
		}
		.readmoreBttn1 {
			color:@yellow;
		}
	}

		&.blue {
		.arrow {
			border-top-color:@blue;
		}
		.linkbtn {
			background-color:@blue;
			&:hover {
				
			}
		}
		.readmoreBttn1 {
			color:@blue;
		}
	}
	&.orange {
		.readmoreBttn1 {
			color:@orange;
		}
	}
	&.green {

		.readmoreBttn1 {
			color:@green;
		}
	}
	&.dblue {
	
		.readmoreBttn1 {
			color:@dblue;
		}
	}
	&.purple {
	
		.readmoreBttn1 {
			color:@purple;
		}
	}
	&.yellow {

		.readmoreBttn1 {
			color:@yellow;
		}
	}
	
	&.small {
		.linkbtn {
			left:0%;
			
		}
	}

	&.medium {

		.linkbtn {
			left:0%;
			
		}
	}
	&.bigheight {
				max-height:300px;
		height:300px;
		.boxthumbnail {

			max-height:300px;
		}
	}

	&.normal {
		max-height:auto !important;
		height:auto;
		width: auto;
		.boxthumbnail {
			width: auto;
			max-height:1; ;
		}
	}
	&.meetanim {
		max-height:315px;
		height:315px;
		margin-bottom:20px;
		a {
			display:block;
			height:100%;
			.transition(all ease 0.5s);
			img {
				width:100%;
				height:auto;
				max-height:315px;
			}

			.magnifier {
				width:30px;
				height:24px;
				background:url('@{baseurl}/icons/mag.png') no-repeat left top;
				position: absolute;
				left:10px;
				bottom:20px;
				z-index: 99999;
			}
		}
	}

}





// 17.0 footer-nav
// ==================================
// ==================================
.footer-nav {
	
	a {
		color:#fff;
		text-transform:uppercase;
		text-align:center;
		display:block;
		height:49px;
		line-height:50px;
		.transition(all ease 0.5s);
		&:hover {
			text-decoration:none;
			color:#fff;
			.scale(1.1, 1.1);
		}
	}
}




// 18.0 breadcrumb
// =================================
// =================================
.breadcrumb {
	background:none;
	margin-top:-100px;
	li {
		text-transform:uppercase;
		font-size:13px;
		font-weight:700;
		a {
			color:#fff;
		}

	}
}






// 19.0 success-stories
// ===============================
// ===============================
.success-stories {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:35px 0;
	margin-bottom:30px;
	position: relative;
	.title {
		text-transform: uppercase;
		margin-top:0;

	}
	ul {
		.clearfix();

		margin-bottom:0;
		li {

			.roundedbox.inner {
				margin-bottom:0;
				margin-right:40px;
				.title-box {
					color:#8f8f8f;
					text-transform: none;
					a {
						color:#8f8f8f;
					}
				}
				.thumbnail-round {
					width:30%;
				}

				.box-content {
					width:65%;
				}
			}
		}
	}

	.flex-control-nav {
		width:auto;
		bottom:0;
		right:0;
	}
}




// 20.0 meet-the-animals
// ==============================
// ==============================
.meet-the-animals {
	background-color:#fff;
	.maintitle {
		font-weight:400;
		text-transform:uppercase;
		margin-top:10px;

	}
	ul {
		li {
			margin-bottom:30px;
			&.aboutDesert {
				margin-bottom:0;
			}

			.title {
				text-align:center;
				font-weight:400;
				margin: 0 0 0 0;
				&:hover {
					text-decoration:none;
				}
			}
		}
	}
}



// 21.0 animals-listings
// =============================
// =============================
.animals-listings {
	margin-bottom:30px;
	ul {
		margin-bottom:0 0 0 0;
		li {
			position:relative;
			padding-top:30px;
			margin-top:30px;
			border-top:1px solid @orange;
			.title {
				font-weight:400;
				text-transform:uppercase;
				margin-top:0;
				margin-bottom:5px;
			}

			h3 {
				font-weight:700;
				
				margin-top:0;
				margin-bottom:5px;
				color:@orange;
				font-size:14px;
			}
			p {
				font-size:14px;
			}
			.animalsound-btn {
				color:@green;position:absolute;
				right:15px;
				top:0;
				font-size:14px;
				font-weight:700;
				padding-left:30px;
				.sprite(-980px, -194px)
			}
			.quickfactsbox {
				background-color:#efefef;
				border:1px solid #ccc;
				font-size:14px;
				padding:10px;
				.subtitle {
					margin-top:0;
					font-weight:400;
					margin-bottom:5px;
				}
				strong {
					width:20%;
					color:#000;
				}
			}
			&:first-child {
				margin-top:0;
				padding-top:0;
				border-top:0;
			}
		}
	}
}


// 22.0 flighttable 
// ============================
// ============================
.flighttable {
	margin-bottom:30px;
	td,th {
		font-size:14px;
		text-align:center;
	}
}





// 23.0 distances-widget
// ===========================
// ===========================
.distances-widget {
	padding:10px;
	.widget-title {
		background-color:#fff;
		padding:5px 20px;
		font-size:20px;
		margin:20px 0 20px 105px;
		display:inline-block;
	}

	.locations {
		color:#fff;
		text-decoration:underline;
		display:block;
		margin-bottom:20px;
	}
}



// 24.0 distances 
// ==========================
// ==========================
.distances {
	margin-bottom:10px !important;
	width:100%;
	tr {
		border-left:0;
	}
	th {
		color:#000;
		text-align:center;
		border-color:#fff !important;
		&:first-child {
			border-left:0;
		}
	}

	td {
		color:#fff;
		text-align:center;
		border-color:#fff !important; 
	}
}






// 25.0 reservationbox 
// ===========================
// ===========================
.reservationbox {
	padding:20px 20px;
	height:300px;
	.clearfix();
	.title {
		color:#fff;
		margin-top:0;
		margin-bottom:10px;
	}
	p {
		font-size:13px;
		color:#fff;
		margin-bottom:10px;
	}

	.form-group {
		margin-bottom:10px !important;
		label {
			color:#fff;
			text-transform: uppercase;
			font-size:13px;
		}
		.form-control {
			.border-radius(0);
			border:0;
			height:32px;
		}
	}

	.submitbtn {
		background-color:#000;
		color:#fff;
		font-size:12px;
		text-transform:uppercase;
		padding:5px 10px;
		border:0;
		height:50px;
	}
	&.small {
		height:233px;
		.form-group {
			.form-control {
				height:44px;
			}
		}
	}

}

.img-left {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}


.img-right {
	float:right;
	margin-left:20px;
	margin-bottom:20px;
}

// 26.0 gallery
// ===========================
// ===========================
#gallery {
	background:#fff;
	ul {
		li {
			margin-bottom:30px;
			a {
				display:block;
				position:relative;
				overflow:hidden;
				.title {
					color:@orange;
					text-transform:uppercase;
					margin-top:10px;
					margin-bottom:0;
					font-weight:400;
					height:34px;
				}
				.img-container {
					background-color:#efefef;
					text-align:center;
					height:190px;
					overflow:hidden;
					img {
						display:inline;
					}

					h4 {
						color:#ccc;
						font-weight:bold;
						padding-top:30%;
					}
				}
				&:hover {
					text-decoration:none;
					
				}

				.hoverbox {
					.transition(all ease 0.5s);
					background:url('@{baseurl}/gallery/hover.png') repeat left top;
					width:100%;
					height:82%;
					position:absolute;
					left:0;
					top:-100%;

				}

				.extra {
					span {
						color:#737373;
						font-size:12px;
					}
				}
			}
			&.hover {
				.hoverbox {
						top:0;
					}
			}
		}
	}
}


.photohold {
	width:100%;
	overflow:hidden;
	height:400px;
	overflow:hidden;
	margin-bottom:20px;
	img {
		width:100%;
		height:auto;

	}

	&.mapper {
		height:auto;
	}
}


.photopopup {
	position:relative;
	.videoplay {
		position:absolute;
		left:50%;
		top:43%;
		margin-top:-18px;
		margin-left:-13px;
		height:33px;
		width:34px;
	}
}


// 27.0 pagination
// ============================
// ============================
nav.pagi {
	background:#fff;
}
.page-shifter {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:10px 0;
	margin:0 0 30px 0;
	.clearfix();
	
	ul {
		float:right;
		margin:0 0 0 0;
		li {
			float:left;
			a {
				color:#000;
				text-transform: uppercase;
				padding:0 10px;
				font-size:19px;
				.transition(all ease 0.5s);
				&:hover {
					color:@orange;
				}
			}
			&.active {
				a {
					color:@orange;
				}
			}
		}
	}
}





// 28.0 error 
// ============================
// ============================
.error {
	margin:100px 0;
	text-align:center;
	.title {
		font-size:60px;
		color:@orange;
		text-transform: uppercase;
		font-weight:400;

	}
	a {
		color:@green;
		text-decoration:underline;
	}
}



// 29.0 floralist 
// ============================
// ============================
.floralist {
	margin-bottom:40px;
	li {
		padding-top:30px;
		margin-top:30px;
		border-top:1px solid @green;
		&:first-child {
			padding-top:0;
			margin-top:0;
			border-top:0;
		}
		.title {
			text-transform:uppercase;
			font-weight:400;
			margin-top:0;
			margin-bottom:5px;
		}

		h3 {
			font-size:14px;
			font-weight:400;
			margin-top:0;
		}

		.border-box {
			height:310px;
			max-height:310px;

			img {
				width:100%;
			}
		}

		p {
			&:last-child {
				margin-bottom:0;
			}
		}
	}
}





// 30.0 left-thumb
.left-thumb {
	img {
		
	}
	span {
		color:@green;
		font-size:14px;
	}
}





// 31.0 tab-link
// ============================
// ============================
.tab-link {

	position: relative;
	li {
		float:left;
		border-left:1px solid #fff;
		margin-left:40px;
		padding-left:40px; 
		a {
			display:block;
			&:hover {
				text-decoration:none;
			}

		}

		&:first-child {
			border-left:0;
			margin-left:0;
			padding-left:0;
		}
	}
}


.tabcontent {
	display:none;
	&.active {
		display:block;
	}
}


.EventsFormSectionContainer {
	background:#fff; 
}


.viewbrochure {
	display:block;
	padding:10px 0;
	color:#fff;
	text-transform: uppercase;
	text-align:center;
	font-weight:700;
	&:hover {
		text-decoration:none;
	}
}

.positionrel {
	position: relative;
}
.socialfooter {
	&.absoluted {
		position:absolute;
		bottom:-120px;
		right:0;
		&.popuo {
			bottom:-20px;
			right:auto;
			left:0;
		}
	}
}

.addthis_native_toolbox {
	position:absolute;
		bottom:-120px;
		right:0;
		a.addthis_button_facebook_share.at300b {
			margin-top:-4px;
		}

		a.addthis_button_tweet.at300b {
			margin-right:-29px;
		}
}

.displaynoneimage {
	display:none !important;
}
.scrolltotop {
	.opacity(0);
	position:fixed;
	width:70px;
	background:@orange;
	color:#fff;
	font-weight:700;
	bottom:0;
	right:20px;
	text-align:center;
	font-size: 12px;
	padding:10px 10px 80px;
	z-index: 1;
	.transition(all ease 0.5s);
	&:hover {
		text-decoration:none;
		color:#fff;
		padding-bottom:150px;
	}
}



.editbtnadmin {
	display:inline;
	img {
		width:auto !important;
		height:auto !important;
		min-height:0 !important;
	}
}



.captchaCodeImg {
	border:1px solid #ccc;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
	img {
		display:inline;
	}
}

.playbtn.videoFancyIframe {
    .img-container {
        position: relative;
        span.playbutton {
            position:absolute;
            left:45%;
            top:45%;
            right:0;
            width:33px;
            height:33px;
            .sprite(-185px, -27px);
            cursor: pointer;
            z-index: 1;
        }
    }
}

.innerSocialIcons {
    .fb-share-button  {
        margin-right:40px;
        span {
            float:left;
        }
    }
}

.search-div {
    margin:30px auto 0;
    overflow: hidden;
    width:75%;
    
    .form-control {
        width: 85%;
        float: left;
        padding: 23px 15px;
        height: 40px;
        font-size: 16px;
        line-height: 21px;
    }
    .searchButton {
        float: left;
        padding: 14px 0 28px;
        width: 15%;
        height: 40px;
        font-size: 16px;
        line-height: 21px;
    }
}