/* Main Divs
=========================================*/
.facebook-div {
  float: left;
   width: 33.3%;
}
.twitter-div {
  float: left;
   width: 32.3%;
  margin-left: 1%;
}
.instagram-div {
  float: left;
  width: 32.3%;
  margin-left: 1%;
  
}
.blog-div {
  float: left;
  width: 24%;
  margin-left: 1%;
  display:none;
}
/*=new css*/
.socialButton {
  background-image: url('../../media/dist/social-images/social-open.png');
  background-repeat: no-repeat;
  background-position: 0px 0;
  width: 38px;
  height: 139px;
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  top: 35%;
  left: 0px;
  z-index: 999;
}
/*socialSliderPoup
==================================================*/
.teamPopup {
  cursor: pointer;
}
.socialSlider {
  position: fixed;
  display: none;
  z-index: 99;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  background-color: transparent;
  box-shadow: none;
}
.socialSlider div.col-96 {
  background: #fff;
  //box-shadow: 0px 0px 5px #6f6f6f;
  margin: 0 auto;
  float: none;
}
.socialSlider .socialWrap {
  position: relative;
  padding: 20px;
}
.socialSlider .socialWrap:before,
.socialSlider .socialWrap:after {
  clear: both;
}
.socialSlider .socialWrap .closeBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #fff;
  font-size: 20px;
  background: @lblue;
  padding: 5px 10px;
  font-family: arial;
  background-color:#000;
  text-decoration:none;
  cursor:pointer;
}
.socialSlider .socialWrap .closeBtn:hover {
  background-color: @orange;
   text-decoration:none;
}
.socialSlider .socialWrap img {
  margin-bottom: 0px;
  width: 100%;
}
h2.socialTitle {
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}
h3.socialTitle {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  font-weight: 700;
  color: @lblue;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px dashed #b8b8b8;
  font-family: 'Arial', sans-serif;
}
ul.blogSmall {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
  font-family: 'Arial', sans-serif;
}
ul.blogSmall:before,
ul.blogSmall:after {
  clear: both;
}
ul.blogSmall li {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px dashed #b8b8b8;
  display: block;
  font-size: 12px;
}
ul.blogSmall li:before,
ul.blogSmall li:after {
  clear: both;
}
ul.blogSmall li p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: italic;
  color: #000;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  line-height: 22px;
  text-align: left;
}
ul.blogSmall li p span {
  color: #000;
}
/*Socaial Media Toggle Box*/
/*Instagram Feeds
==========================================*/
.resetFrom {
  margin: 0px;
  padding: 0px;
}
ul.instagramFeeds {
  margin: 0 0 0 -3px;
  padding: 0;
  list-style: none;
  height: 198px;
  overflow: hidden;
  position: relative;
}
ul.instagramFeeds:before,
ul.instagramFeeds:after {
  clear: both;
}
ul.instagramFeeds li {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 198px;
  display: none;
}
ul.instagramFeeds li:before,
ul.instagramFeeds li:after {
  clear: both;
}
ul.instagramFeeds li ul.instagramImages {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.instagramFeeds li ul.instagramImages li {
  float: left;
  display: inline-block;
  padding: 4px;
  background-color: #fff;
  margin: 0 0 3px 11px;
  height: 66px;
  width: 66px;
  position: static;
  overflow: hidden;
}
ul.instagramFeeds li ul.instagramImages li img {
  width: 100%;
}
a.prevArrow {
  font-size: 11px;
  font-weight: bold;
  color: @lblue;
  text-decoration: none;
  display: block;
  float: left;
  outline: 0 !important;
  padding-top: 10px;
  font-family: 'Arial', sans-serif;
}
a.prevArrow:hover {
  color: @black;
}
a.nextArrow {
  font-size: 11px;
  font-weight: bold;
  color: @lblue;
  text-decoration: none;
  display: block;
  float: right;
  margin-right: 11px;
  outline: 0 !important;
  padding-top: 10px;
  font-family: 'Arial', sans-serif;
}
a.nextArrow:hover {
  color: @black;
}
.instagramPopUp {
  margin: 0;
  background-color: #fff;
}
.instagramPopUp:before,
.instagramPopUp:after {
  clear: both;
}
.instagramPopUp .imgHold {
  margin-bottom: 10px;
  max-height: 335px;
  overflow: hidden;
}
.instagramPopUp .imgHold img {
  width: 100% !important;
  height: auto;
}
.socialIconspopContainer {
  width: 100%;
  position: absolute;
  height: 30px;
  bottom: 0px;
  left: 0;
  z-index: 9000 !important;
}
.socialIconspopContainer ul.socialIcons {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.socialIconspopContainer ul.socialIcons li {
  margin: 0 0 0 0;
  padding: 0px;
  list-style-type: none;
  display: inline;
}

/*Instagram Feeds
==========================================*/
.social-icons ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 10px;
}
.social-icons ul li {
  display: inline-block;
  padding: 0px 4px;
  border-bottom: none;
}

.social-overlay {
  position:fixed;
  display:none;
  background-color:rgba(0,0,0,.8);
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  z-index:98;
  opacity:70;
}
/*# sourceMappingURL=ui-css.css.map */