/*Global Style
===========================================*/
.imgHold.margin-bottom {
  margin-bottom: 20px;
}
.imgHold.sideImg {
  margin-bottom: 15px;
}
.imgHold img {
  width: 100%;
  height: auto;
}
.marginTop20 {
  margin-top: 20px !important;
}
/*Global Style
===========================================*/
.activitesContainerSection {
  margin: 0 0 60px;
  padding: 0;
  background-image: url('../../media/dist/adventure/adventure-top-bg.jpg');
  background-position: center 24px;
  background-repeat: no-repeat;
}
.activitesContainerSection:before,
.activitesContainerSection:after {
  content: " ";
  display: table;
}
.activitesContainerSection:after {
  clear: both;
}
.activitesContainerSection .bottomFix {
  background-image: url('../../media/dist/adventure/adventure-btm-bg.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
}
.activitesContainerSection .bottomFix:before,
.activitesContainerSection .bottomFix:after {
  content: " ";
  display: table;
}
.activitesContainerSection .bottomFix:after {
  clear: both;
}
.activitesContainerSection.mediaCenterNews {
  background-image: url('../../media/dist/media-center/media-top-bg.jpg');
}
.activitesContainerSection.mediaCenterNews .bottomFix {
  background-image: url('../../media/dist/media-center/media-btm-bg.jpg');
}
.activitesContainerSection.eventsHome {
  background-image: none;
  margin: 0 0 0 0;
}
.activitesContainerSection.eventsHome .bottomFix {
  background-image: none;
}
.activitesContainerSection.galleryExperiance {
  background-image: url('../../media/dist/galler-exp/media-top-bg.jpg');
}
.activitesContainerSection.galleryExperiance .bottomFix {
  background-image: url('../../media/dist/galler-exp/media-btm-bg.jpg');
}
.seperator {
  height: 7px;
  margin-bottom: 40px;
}
.landActivitesSection {
  margin: 0;
  padding: 0;
  border-bottom: 7px solid #afbc22;
  min-height: 400px;
}
.landActivitesSection:before,
.landActivitesSection:after {
  content: " ";
  display: table;
}
.landActivitesSection:after {
  clear: both;
}
.landActivitesSection.featuredNews {
  border-bottom: 7px solid #9b5ba4;
}
.landActivitesSection.featuredNews {
  border-bottom: 7px solid #9b5ba4;
}
.landActivitesSection.galleryExp {
  border-bottom: 7px solid #f58023;
  min-height: 580px;
}
.landActivitesSection.eventsSection {
  border-bottom: 0;
  min-height: 300px;
}
.landActivitesSection h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  padding: 13px 0 9px;
  margin-bottom: 20px;
  line-height: 18px;
  font-weight: normal;
  display: block;
}
.landActivitesSection h2 a {
  color: #fff;
}
.landActivitesSection h2 a:hover {
  text-decoration: none;
}
/*Bullet Listings
==================================*/
ul.bulletListings {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.bulletListings:before,
ul.bulletListings:after {
  content: " ";
  display: table;
}
ul.bulletListings:after {
  clear: both;
}
ul.bulletListings li {
  margin: 0;
  border-bottom: 1px solid #afbc22;
  position: relative;
}
ul.bulletListings li:before,
ul.bulletListings li:after {
  content: " ";
  display: table;
}
ul.bulletListings li:after {
  clear: both;
}
ul.bulletListings li:hover a,
ul.bulletListings li:focus a,
ul.bulletListings li.active a {
  color: #afbc22;
  text-decoration: none;
  padding-left: 25px;
}
ul.bulletListings li:hover a .arrow,
ul.bulletListings li:focus a .arrow,
ul.bulletListings li.active a .arrow {
  border-left-color: #afbc22;
  left: 5px;
}
ul.bulletListings li a {
  padding: 7px 0 7px 20px;
  color: #717171;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
ul.bulletListings li a .arrow {
  border: 6px solid transparent;
  border-left-color: #d7d7d7;
  position: absolute;
  left: 0;
  top: 8px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
/*Bullet Listings
==================================*/
.readmoreBttn {
  color: #717171;
  margin-top: 10px;
  display: inline-block;
  padding-right: 40px;
  line-height: 16px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.readmoreBttn:hover {
  text-decoration: none;
  color: #717171;
}
.readmoreBttn.green {
  color: #afbc22;
  background-image: url('../../media/dist/sprite.png');
  background-position: -873px -76px;
  background-repeat: no-repeat;
}
.readmoreBttn.green:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -888px -76px;
  background-repeat: no-repeat;
}
.readmoreBttn.blue {
  color: #1a9cd7;
  background-image: url('../../media/dist/sprite.png');
  background-position: -873px -108px;
  background-repeat: no-repeat;
}
.readmoreBttn.blue:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -888px -108px;
  background-repeat: no-repeat;
}
.readmoreBttn.dblue {
  color: #006d9f;
  background-image: url('../../media/dist/sprite.png');
  background-position: -873px -149px;
  background-repeat: no-repeat;
}
.readmoreBttn.dblue:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -888px -149px;
  background-repeat: no-repeat;
}
.readmoreBttn.purple {
  color: #9b5ba4;
  background-image: url('../../media/dist/sprite.png');
  background-position: -873px -134px;
  background-repeat: no-repeat;
}
.readmoreBttn.purple:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -888px -134px;
  background-repeat: no-repeat;
}
.readmoreBttn.orange {
  color: #f58023;
  background-image: url('../../media/dist/sprite.png');
  background-position: -873px -91px;
  background-repeat: no-repeat;
}
.readmoreBttn.orange:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -888px -91px;
  background-repeat: no-repeat;
}
.waterActivitesSection {
  margin: 0;
  padding: 0;
  border-bottom: 7px solid #1a9cd7;
  min-height: 400px;
}
.waterActivitesSection:before,
.waterActivitesSection:after {
  content: " ";
  display: table;
}
.waterActivitesSection:after {
  clear: both;
}
.waterActivitesSection h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  padding: 13px 0 9px 20px;
  margin-bottom: 20px;
  line-height: 18px;
  font-weight: normal;
  display: block;
}
.waterActivitesSection h2 a {
  color: #fff;
}
.waterActivitesSection h2 a:hover {
  text-decoration: none;
}
.waterActivitesSection.whatsNewSection {
  border-bottom: 7px solid #f58023;
}
.waterActivitesSection.galleryExp {
  min-height: 580px;
}
.waterActivitesSection.eventsSection {
  border-bottom: 0;
  min-height: 300px;
}
.waterActivitesSection.eventsSection .waterActivitiesSlider .flex-direction-nav li a {
  outline: 0;
}
.waterActivitesSection.eventsSection .waterActivitiesSlider .flex-direction-nav li a.flex-prev {
  background-image: url('../../media/dist/icons/innSliderArrowLeft.png');
  width: 13px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  left: auto;
  right: 40px;
  opacity: 1 !important;
}
.waterActivitesSection.eventsSection .waterActivitiesSlider .flex-direction-nav li a.flex-next {
  background-image: url('../../media/dist/icons/innSliderArrowRight.png');
  width: 13px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  left: auto;
  right: 15px;
  opacity: 1 !important;
}
/*Water Slider Section
============================================*/
.waterActivitiesSlider {
  margin: 0 0 0 -15px;
  padding: 0;
  list-style: none;
  position: relative;
}
.waterActivitiesSlider:before,
.waterActivitiesSlider:after {
  content: " ";
  display: table;
}
.waterActivitiesSlider:after {
  clear: both;
}
.waterActivitiesSlider .flex-direction-nav li a {
  outline: 0;
}
.waterActivitiesSlider .flex-direction-nav li a.flex-prev {
  background-image: url('../../media/dist/icons/innSliderArrowLeft.png');
  width: 13px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  left: auto;
  right: 40px;
  opacity: 1 !important;
}
.waterActivitiesSlider .flex-direction-nav li a.flex-next {
  background-image: url('../../media/dist/icons/innSliderArrowRight.png');
  width: 13px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  left: auto;
  right: 15px;
  opacity: 1 !important;
}
.waterActivitiesSlider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.waterActivitiesSlider ul li {
  width: 25%;
  float: left;
  cursor: pointer;
}
.waterActivitiesSlider ul li:before,
.waterActivitiesSlider ul li:after {
  content: " ";
  display: table;
}
.waterActivitiesSlider ul li:after {
  clear: both;
}
.waterActivitiesSlider ul li:hover .content .imgHold .hoverContent {
  opacity: 1;
  filter: alpha(opacity=100);
}
.waterActivitiesSlider ul li .content {
  margin-left: 15px;
}
.waterActivitiesSlider ul li .content .imgHold {
  margin: 0 0 2px 0;
  position: relative;
}
.waterActivitiesSlider ul li .content .imgHold .hoverContent {
  background-color: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  height: 100%;
  background-color: #1a9cd7;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.waterActivitiesSlider ul li .content .imgHold .hoverContent div.content {
  padding: 10px 10px 10px 0;
}
.waterActivitiesSlider ul li .content .imgHold .hoverContent div.content:before,
.waterActivitiesSlider ul li .content .imgHold .hoverContent div.content:after {
  content: " ";
  display: table;
}
.waterActivitiesSlider ul li .content .imgHold .hoverContent div.content:after {
  clear: both;
}
.waterActivitiesSlider ul li .content .imgHold .hoverContent div.content p {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 5px;
}
.waterActivitiesSlider ul li .content .imgHold .hoverContent div.content .readmoreBttn {
  color: #ffffff;
}
.waterActivitiesSlider ul li .content h2 {
  color: #1a9cd7 !important;
  font-size: 14px;
  text-transform: uppercase;
  padding: 25px 0;
  margin: 0;
  text-align: center;
  border-top: 6px solid #1a9cd7;
  position: relative;
}
.waterActivitiesSlider ul li .content h2 span {
  border: 10px solid transparent;
  border-top-color: #1a9cd7;
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  margin: 0px auto;
  display: inline-block;
  width: 17px;
}
.waterActivitiesSlider ul li .content h2 .ggka:hover {
  text-decoration: none;
}
.waterActivitiesSlider ul li.bluebg {
  background-color: transparent;
}
.waterActivitiesSlider ul li.orangebg {
  background-color: transparent;
}
.waterActivitiesSlider ul li.orangebg .content .imgHold .hoverContent {
  background-color: #f58023;
}
.waterActivitiesSlider ul li.orangebg .content h2 {
  border-top: 6px solid #f58023;
  color: #f58023 !important;
}
.waterActivitiesSlider ul li.orangebg .content h2 span {
  border-top-color: #f58023;
}
.waterActivitiesSlider ul li.greenbg {
  background-color: transparent;
}
.waterActivitiesSlider ul li.greenbg .content .imgHold .hoverContent {
  background-color: #afbc22;
}
.waterActivitiesSlider ul li.greenbg .content h2 {
  border-top: 6px solid #afbc22;
  color: #afbc22 !important;
}
.waterActivitiesSlider ul li.greenbg .content h2 span {
  border-top-color: #afbc22;
}
.waterActivitiesSlider ul li.purplebg {
  background-color: transparent;
}
.waterActivitiesSlider ul li.purplebg .content .imgHold .hoverContent {
  background-color: #9b5ba4;
}
.waterActivitiesSlider ul li.purplebg .content h2 {
  border-top: 6px solid #9b5ba4;
  color: #9b5ba4 !important;
}
.waterActivitiesSlider ul li.purplebg .content h2 span {
  border-top-color: #9b5ba4;
}
.waterActivitiesSlider ul li.yellowbg {
  background-color: transparent;
}
.waterActivitiesSlider ul li.yellowbg .content .imgHold .hoverContent {
  background-color: #ffb016;
}
.waterActivitiesSlider ul li.yellowbg .content h2 {
  border-top: 6px solid #ffb016;
  color: #ffb016 !important;
}
.waterActivitiesSlider ul li.yellowbg .content h2 span {
  border-top-color: #ffb016;
}
.waterActivitiesSlider ul li.brownbg {
  background-color: transparent;
}
.waterActivitiesSlider ul li.brownbg .content .imgHold .hoverContent {
  background-color: #8e4316;
}
.waterActivitiesSlider ul li.brownbg .content h2 {
  border-top: 6px solid #8e4316;
  color: #8e4316 !important;
}
.waterActivitiesSlider ul li.brownbg .content h2 span {
  border-top-color: #8e4316;
}
/*Water Slider Section
============================================*/
/*For Bottom Quick Nav
============================================*/
ul.bottomQuickNavContainer {
  margin: 30px 0 30px -15px;
  padding: 0;
  list-style: none;
}
ul.bottomQuickNavContainer:before,
ul.bottomQuickNavContainer:after {
  content: " ";
  display: table;
}
ul.bottomQuickNavContainer:after {
  clear: both;
}
ul.bottomQuickNavContainer li {
  float: left;
  width: 12.98%;
  margin-left: 15px;
}
ul.bottomQuickNavContainer li a {
  min-height: 89px;
  display: block;
  outline: 0;
  position: relative;
  text-align: center;
}
ul.bottomQuickNavContainer li a h2 {
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  margin: 0px auto;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}
ul.bottomQuickNavContainer li a .icon {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0px auto;
  display: inline-block;
}
/*For Bottom Quick Nav
============================================*/
.marginBtm20 {
  margin-bottom: 20px;
}
.grayBox {
  padding: 15px 20px;
  background-color: #efefef;
}
.grayBox:before,
.grayBox:after {
  content: " ";
  display: table;
}
.grayBox:after {
  clear: both;
}
.grayBox p {
  margin-bottom: 10px;
}
.grayBox p:last-child {
  margin-bottom: 0;
}
.grayBox p span {
  color: #afbc22;
  text-transform: uppercase;
}
/*Pop Up Container
==================================*/
.popUpContainer {
  padding: 25px 50px;
  background-color: #fff;
}
.popUpContainer:before,
.popUpContainer:after {
  content: " ";
  display: table;
}
.popUpContainer:after {
  clear: both;
}
.popUpContainer .titleSection {
  margin: 0 0 10px 0;
}
.popUpContainer .titleSection:before,
.popUpContainer .titleSection:after {
  content: " ";
  display: table;
}
.popUpContainer .titleSection:after {
  clear: both;
}
.popUpContainer .titleSection h2 {
  font-size: 28px;
  text-transform: uppercase;
  color: #f58023;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
/*Pop Up Container
==================================*/
/*Inner Social Icons
==================================*/
.innerSocialIcons {
  margin: 0 0 0 -5px;
  padding: 0;
  list-style: none;
  float: right;
}
.innerSocialIcons:before,
.innerSocialIcons:after {
  content: " ";
  display: table;
}
.innerSocialIcons:after {
  clear: both;
}
.innerSocialIcons.left {
  float: left;
}
.innerSocialIcons li {
  margin-left: 5px;
  float: left;
}
/*Inner Social Icons
==================================*/
/*Book Now form Section
==================================*/
.bookNowContainer p {
  margin: 0;
  font-size: 14px;
}
.bookNowContainer .form-group {
  margin: 0 0 0px 0;
  padding: 0;
  position: relative;
}
.bookNowContainer .form-group .eerror {
  position: absolute;
  top: 0;
  right: 0;
}
.bookNowContainer .form-group label {
  font-size: 14px;
  font-weight: normal;
}
.bookNowContainer .form-group label.red {
  position: absolute;
  bottom: -25px;
  font-size: 12px;
  font-weight: normal;
}
.bookNowContainer .form-group input.form-control {
  background: #ffffff;
  padding: 0 10px;
  font-size: 14px;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
  height: 40px;
  font-weight: normal;
  border-radius: 0;
}
.bookNowContainer .form-group input.form-control::-moz-placeholder {
  color: #bdbdbd;
  opacity: 1;
}
.bookNowContainer .form-group input.form-control:-ms-input-placeholder {
  color: #bdbdbd;
}
.bookNowContainer .form-group input.form-control::-webkit-input-placeholder {
  color: #bdbdbd;
}
.bookNowContainer .form-group textarea {
  background: #ffffff;
  padding: 0 10px;
  font-size: 14px;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
  font-weight: normal;
  border-radius: 0;
}
.bookNowContainer .form-group textarea::-moz-placeholder {
  color: #bdbdbd;
  opacity: 1;
}
.bookNowContainer .form-group textarea:-ms-input-placeholder {
  color: #bdbdbd;
}
.bookNowContainer .form-group textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}
.bookNowContainer .form-group img.ui-datepicker-trigger {
  position: absolute;
  top: 29px;
  right: 1px;
  cursor: pointer;
}
.bookNowContainer .form-group div.selector {
  background-image: transparent;
  background-repeat: repeat;
  border: 1px solid #ccc;
  box-shadow: none;
  margin: 0;
  height: 40px;
  line-height: 10px;
  position: relative;
  width: 100% !important;
  text-align: left;
  color: #202020;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
}
.bookNowContainer .form-group div.selector span {
  text-shadow: none;
  padding-left: 12px;
  padding-right: 8px;
  background-image: url('../../media/dist/icons/dropdown-arrow.png');
  background-position: right 0px;
  background-repeat: no-repeat;
  height: 40px;
  line-height: 40px;
  font-size: 11px;
  text-transform: capitalize;
  width: 100% !important;
  display: block;
}
.bookNowContainer .form-group div.selector select {
  min-width: 70px;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 33px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.bookNowContainer .form-group div.selector select option {
  padding: 10px 5px;
}
.checkAvailability {
  margin: 27px 0 0 0;
  padding: 10px 0;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: 0;
  background-color: #f58023;
}
.checkAvailability.greenbg {
  background-color: #afbc22;
}
.checkAvailability.send {
  margin: 10px 0 0 0 ;
}
/*Book Now form Section
==================================*/
.aboutDesert:before,
.aboutDesert:after {
  content: " ";
  display: table;
}
.aboutDesert:after {
  clear: both;
}
.aboutDesert .border-box {
  margin-bottom: 15px;
}
.aboutDesert p {
  margin-bottom: 5px;
}
.innerMapImgHold {
  margin: 0;
  padding: 0;
  position: relative;
}
.innerMapImgHold img {
  width: 100%;
  height: 100%;
  min-height: 233px;
}
.innerMapImgHold .textContent {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30%;
}
.innerMapImgHold .textContent h2 {
  margin: 0;
  padding: 10px;
  display: block;
  background-color: #1a9cd7;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
}
.innerMapImgHold .textContent h2 a {
  color: #fff;
}
.innerMapImgHold .textContent h2 a:hover {
  text-decoration: none;
}
.innerMapImgHold .textContent .content {
  padding: 15px;
  background-color: #ffffff;
}
.innerMapImgHold .textContent .content:before,
.innerMapImgHold .textContent .content:after {
  content: " ";
  display: table;
}
.innerMapImgHold .textContent .content:after {
  clear: both;
}
.innerMapImgHold .textContent .content p {
  margin: 0;
  font-size: 13px;
}
.innerMapImgHold.center .textContent {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.sirbaniyasBox {
  height: 233px;
}
.mediaSection {
  cursor: pointer;
}
.mediaSection .imgSection {
  overflow: hidden;
}
.mediaSection .imgSection:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mediaSection .imgSection img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.downloadList {
  margin: 0;
  padding: 0;
  background: #fff;
}
.downloadList:before,
.downloadList:after {
  content: " ";
  display: table;
}
.downloadList:after {
  clear: both;
}
.whitebg {
  background: #ffffff;
}
ul.downloadListings {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
}
ul.downloadListings:before,
ul.downloadListings:after {
  content: " ";
  display: table;
}
ul.downloadListings:after {
  clear: both;
}
ul.downloadListings li {
  position: relative;
  margin-bottom: 25px;
}
ul.downloadListings li .imgHold {
  margin-bottom: 15px;
}
ul.downloadListings li h2 {
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 0;
  color: #f58023;
}
.downloadBttn {
  margin: 0;
  padding: 5px 25px;
  display: inline-block;
  color: #ffffff;
  background-color: #f58023;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
.downloadBttn:hover {
  color: #ffffff;
  text-decoration: none;
}
ul.whatsNewTabNavigation {
  margin: 0 0 0 -5px;
  padding: 0;
  list-style: none;
}
ul.whatsNewTabNavigation:before,
ul.whatsNewTabNavigation:after {
  content: " ";
  display: table;
}
ul.whatsNewTabNavigation:after {
  clear: both;
}
ul.whatsNewTabNavigation li {
  margin-left: 5px;
  width: 23.60%;
  display: inline-block;
  cursor: pointer;
}
ul.whatsNewTabNavigation li:hover .imgHold span,
ul.whatsNewTabNavigation li.active .imgHold span {
  display: block;
}
ul.whatsNewTabNavigation li .imgHold {
  border-bottom: 6px solid #f58023;
  padding: 0 0 1px 0;
  position: relative;
}
ul.whatsNewTabNavigation li .imgHold:before,
ul.whatsNewTabNavigation li .imgHold:after {
  content: " ";
  display: table;
}
ul.whatsNewTabNavigation li .imgHold:after {
  clear: both;
}
ul.whatsNewTabNavigation li .imgHold span {
  border: 10px solid transparent;
  border-top-color: #f58023;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  bottom: -24px;
  width: 19px;
  display: none;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.tabContentContainer {
  margin: 0;
  padding: 15px 0;
}
.tabContentContainer:before,
.tabContentContainer:after {
  content: " ";
  display: table;
}
.tabContentContainer:after {
  clear: both;
}
.tabContentContainer h2 {
  color: #f58023;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 5px 0;
  padding: 0;
}
.tabContentContainer p {
  margin: 0 0 5px 0;
}
.tabContentContainer .readmoreBttn {
  margin-top: 5px;
}
.tabContentContainer .contents {
  display: none;
}
/*Historical Timeline Section
==================================================*/
.historicalTimelineSection {
  margin: 0;
  padding: 0;
}
.historicalTimelineSection:before,
.historicalTimelineSection:after {
  content: " ";
  display: table;
}
.historicalTimelineSection:after {
  clear: both;
}
.historicalTimelineSection .title {
  background-color: #ffffff;
}
.historicalTimelineSection .title h1 {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}
/*Time Line Slide 1
===================================================*/
.slide1 {
  background-image: url('../../media/dist/timeline/slide-1-img.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1200px;
  text-align: center;
  position: relative;
}
.slide1 .topTextSection {
  width: 30%;
  margin: 0px auto;
  padding: 72px 0 25px 0;
}
.slide1 .topTextSection:before,
.slide1 .topTextSection:after {
  content: " ";
  display: table;
}
.slide1 .topTextSection:after {
  clear: both;
}
.slide1 .topTextSection h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
}
.slide1 .topTextSection p {
  color: #ffffff;
  margin: 0;
  font-size: 14px;
}
/*Time Line Slide 1
===================================================*/
.slide2 {
  background-image: url('../../media/dist/timeline/slide-2-img.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 708px;
  position: relative;
}
.slide3 {
  background-image: url('../../media/dist/timeline/slide-3-img.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 708px;
  position: relative;
}
.slide4 {
  background-image: url('../../media/dist/timeline/slide-4-img.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 708px;
  position: relative;
}
.slide5 {
  background-image: url('../../media/dist/timeline/slide-5-img.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 595px;
  position: relative;
}
/*TIme Line Graph Section
==================================================*/
.timeLineGraphSection {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
  width: 100%;
}
.graphLineHolder {
  text-align: center;
  position: relative;
  width: 100%;
}
.graphLineHolder:before,
.graphLineHolder:after {
  content: " ";
  display: table;
}
.graphLineHolder:after {
  clear: both;
}
.graphLineHolder .footerTitleSection {
  width: 40%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2px 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  top: 200px;
}
.graphLineHolder .footerTitleSection h2 {
  padding: 15px 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
}
.graphLineHolder .footerTitleSection h1 {
  color: #fff;
  text-transform: uppercase;
}
.graphLineHolder .timeLineBullets {
  position: absolute;
  width: 50%;
  left: 0;
  padding-right: 3px;
}
.graphLineHolder .timeLineBullets.right {
  right: 0;
  left: auto;
  padding-right: 0;
  padding-left: 7px;
}
.graphLineHolder .timeLineBullets.right span {
  float: left;
}
.graphLineHolder .timeLineBullets.right .contentSection {
  float: left;
}
.graphLineHolder .timeLineBullets.right .contentSection h4 {
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
  text-align: right;
}
.graphLineHolder .timeLineBullets.right .contentSection p {
  text-align: right;
}
.graphLineHolder .timeLineBullets.right .imgSection {
  float: left;
}
.graphLineHolder .timeLineBullets.big span {
  width: 200px;
}
.graphLineHolder .timeLineBullets span {
  width: 80px;
  float: right;
  display: inline-block;
  height: 10px;
  margin-top: 5px;
}
.graphLineHolder .timeLineBullets .contentSection {
  width: 35%;
  float: right;
  margin-right: 10px;
}
.graphLineHolder .timeLineBullets .contentSection h4 {
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
  text-align: left;
}
.graphLineHolder .timeLineBullets .contentSection h4.black {
  color: #000;
}
.graphLineHolder .timeLineBullets .contentSection p {
  font-size: 12px;
  text-align: left;
  margin: 0;
}
.graphLineHolder .timeLineBullets .contentSection p.white {
  color: #fff;
}
.graphLineHolder .timeLineBullets .contentSection p.black {
  color: #000;
}
.graphLineHolder .timeLineBullets .imgSection {
  float: right;
  margin-right: 10px;
  margin-top: -70px;
}
.marginLeft {
  margin-left: 5px;
}
/*TIme Line Graph Section
==================================================*/
/*Historical Timeline Section
==================================================*/
.featuredNewsSection {
  background: #fff;
}
.featuredNewsSection:before,
.featuredNewsSection:after {
  content: " ";
  display: table;
}
.featuredNewsSection:after {
  clear: both;
}
.featuredNewsSection .border-box.small {
  height: 165px;
  max-height: 165px;
}
.featuredNewsSection h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 0;
}
.featuredNewsSection h6 {
  font-size: 16px;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 400;
}
.featuredNewsSection .title {
  font-size: 25px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 0;
}
.featuredNewsSection .subtitle {
  font-size: 16px;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 400;
}
.featuredNewsSection p {
  margin-bottom: 15px;
}
ul.bottomLinks {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.bottomLinks:before,
ul.bottomLinks:after {
  content: " ";
  display: table;
}
ul.bottomLinks:after {
  clear: both;
}
ul.bottomLinks li {
  float: left;
  margin-left: 30px;
}
ul.bottomLinks li:first-child {
  margin-left: 0;
}
ul.bottomLinks li a {
  color: #f58023;
}
ul.bottomLinks li a:hover {
  text-decoration: none;
}
ul.bottomLinks li a i {
  display: inline-block;
}
.titleBar {
  padding: 5px 0;
  margin: 0 0 25px 0;
}
.titleBar:before,
.titleBar:after {
  content: " ";
  display: table;
}
.titleBar:after {
  clear: both;
}
.titleBar h2 {
  font-size: 25px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
}
.viewAllBtn {
  color: #fff;
  text-transform: uppercase;
}
.viewAllBtn.right {
  float: right;
}
/*Media form Section
==================================*/
.mediaFormContainer {
  min-height: 354px;
}
.mediaFormContainer .form-group {
  margin: 0 0 0px 0;
  padding: 0;
  position: relative;
}
.mediaFormContainer .form-group .marginBtm40 {
  margin-bottom: 28px !important;
}
.mediaFormContainer .form-group label {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-transform: uppercase;
}
.mediaFormContainer .form-group label.red {
  position: absolute;
  bottom: -25px;
  font-size: 12px;
  font-weight: normal;
}
.mediaFormContainer .form-group input.form-control {
  background: #f3f3f3;
  padding: 0 10px;
  font-size: 14px;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f3f3f3;
  height: 40px;
  font-weight: normal;
  border-radius: 0;
}
.mediaFormContainer .form-group input.form-control::-moz-placeholder {
  color: #bdbdbd;
  opacity: 1;
}
.mediaFormContainer .form-group input.form-control:-ms-input-placeholder {
  color: #bdbdbd;
}
.mediaFormContainer .form-group input.form-control::-webkit-input-placeholder {
  color: #bdbdbd;
}
.mediaFormContainer p a {
  color: #1a9cd7;
}
.marginBtm40 {
  margin-bottom: 40px;
}
.SignUpBttn {
  padding: 5px;
  width: 100%;
  font-size: 19px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  text-align: center;
  border: 0;
}
h6.regis {
  font-weight: normal;
  font-size: 16px;
  color: #8f8f8f;
}
h6.regis a {
  color: #afbc22;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}
/*Media form Section
==================================*/
.planYourEventsSection {
  margin: 0 0 25px 0;
  padding: 0;
}
.planYourEventsSection:before,
.planYourEventsSection:after {
  content: " ";
  display: table;
}
.planYourEventsSection:after {
  clear: both;
}
.planYourEventsSection h2 {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  padding: 0;
}
ul.eventPlanListing {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.eventPlanListing:before,
ul.eventPlanListing:after {
  content: " ";
  display: table;
}
ul.eventPlanListing:after {
  clear: both;
}
ul.eventPlanListing li:before,
ul.eventPlanListing li:after {
  content: " ";
  display: table;
}
ul.eventPlanListing li:after {
  clear: both;
}
ul.eventPlanListing li .imgHold {
  margin-bottom: 10px;
}
ul.eventPlanListing li h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px 0;
}
ul.eventPlanListing li p {
  margin: 0 0 5px 0;
  font-size: 14px;
  text-align: justify;
  padding: 0;
}
.eventDetailImgHold {
  padding: 0;
  width: 35%;
  margin-bottom: 5px;
}
.eventDetailImgHold:before,
.eventDetailImgHold:after {
  content: " ";
  display: table;
}
.eventDetailImgHold:after {
  clear: both;
}
.eventDetailImgHold.big {
  width: 45%;
}
.eventDetailImgHold img {
  width: 100%;
  height: auto;
}
.eventDetailImgHold.right {
  float: right;
  margin-left: 20px;
}
.eventDetailImgHold.left {
  float: left;
  margin-right: 20px;
}
/*Events form Section
==================================*/
.eventsFormContainer h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 15px 0;
}
.eventsFormContainer .form-group {
  margin: 0 0 0px 0;
  padding: 0;
  position: relative;
}
.eventsFormContainer .form-group label {
  font-size: 14px;
  font-weight: normal;
}
.eventsFormContainer .form-group label.red {
  position: absolute;
  bottom: -25px;
  font-size: 12px;
  font-weight: normal;
}
.eventsFormContainer .form-group input.form-control {
  background: #ffffff;
  padding: 0 10px;
  font-size: 14px;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
  height: 40px;
  font-weight: normal;
  border-radius: 0;
}
.eventsFormContainer .form-group input.form-control::-moz-placeholder {
  color: #bdbdbd;
  opacity: 1;
}
.eventsFormContainer .form-group input.form-control:-ms-input-placeholder {
  color: #bdbdbd;
}
.eventsFormContainer .form-group input.form-control::-webkit-input-placeholder {
  color: #bdbdbd;
}
.eventsFormContainer .form-group textarea.form-control {
  background: #ffffff;
  padding: 0 10px;
  font-size: 14px;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
  height: 212px;
  font-weight: normal;
  border-radius: 0;
}
.eventsFormContainer .form-group textarea.form-control::-moz-placeholder {
  color: #bdbdbd;
  opacity: 1;
}
.eventsFormContainer .form-group textarea.form-control:-ms-input-placeholder {
  color: #bdbdbd;
}
.eventsFormContainer .form-group textarea.form-control::-webkit-input-placeholder {
  color: #bdbdbd;
}
.eventsFormContainer .form-group img.ui-datepicker-trigger {
  position: absolute;
  top: 29px;
  right: 1px;
  cursor: pointer;
}
.eventsFormContainer .form-group div.selector {
  background-image: transparent;
  background-repeat: repeat;
  border: 1px solid #ccc;
  box-shadow: none;
  margin: 0;
  height: 40px;
  line-height: 10px;
  position: relative;
  width: 100% !important;
  text-align: left;
  color: #202020;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
}
.eventsFormContainer .form-group div.selector span {
  text-shadow: none;
  padding-left: 12px;
  padding-right: 8px;
  background-image: url('../../media/dist/icons/dropdown-arrow.png');
  background-position: right 0px;
  background-repeat: no-repeat;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-transform: capitalize;
  width: 100% !important;
  display: block;
}
.eventsFormContainer .form-group div.selector select {
  min-width: 70px;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 33px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.eventsFormContainer .form-group div.selector select option {
  padding: 10px 5px;
}
.enquiryButton {
  margin: 0 0 0 0;
  padding: 10px 40px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  border: 0;
  background-color: #f58023;
  float: right;
  display: inline-block;
  text-transform: uppercase;
}
/*Events form Section
==================================*/
.marginBtm15 {
  margin-bottom: 15px !important;
}
.marginTopPaln {
  margin-top: 65px !important;
}
.dateTitle {
  font-size: 16px;
  color: #4a4a4a;
  font-weight: normal;
  text-transform: uppercase;
}
.dateTitle span {
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: -1px;
}
.marginBtm30 {
  margin-bottom: 30px;
}
ul.twitterInnerSlider {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.twitterInnerSlider:before,
ul.twitterInnerSlider:after {
  content: " ";
  display: table;
}
ul.twitterInnerSlider:after {
  clear: both;
}
ul.twitterInnerSlider li:before,
ul.twitterInnerSlider li:after {
  content: " ";
  display: table;
}
ul.twitterInnerSlider li:after {
  clear: both;
}
.twitterBox {
  margin: 0 0 28px 0;
  padding: 0;
}
.twitterBox:before,
.twitterBox:after {
  content: " ";
  display: table;
}
.twitterBox:after {
  clear: both;
}
.twitterBox .imgHold {
  width: 39%;
  float: left;
}
.twitterBox .contentSection {
  width: 58%;
  float: right;
}
.twitterBox .contentSection h2 {
  font-size: 16px;
  margin: 0 0 10px 0;
  padding: 0;
  color: #303030;
}
.twitterBox .contentSection h2 span {
  margin-right: 10px;
}
.twitterBox .contentSection p {
  margin: 0 0 5px 0;
}
.tweetBttn {
  float: right;
}
.iconMar {
  margin-right: 5px;
  position: relative;
  top: -2px;
}
ul.searchResultsListings {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.searchResultsListings:before,
ul.searchResultsListings:after {
  content: " ";
  display: table;
}
ul.searchResultsListings:after {
  clear: both;
}
ul.searchResultsListings.newsLetter li .imgHold {
  width: 19%;
}
ul.searchResultsListings.newsLetter li .content {
  width: 79%;
}
ul.searchResultsListings.newsLetter li .content h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #afbc22;
}
ul.searchResultsListings.newsLetter li .content h6 {
  color: #f58023;
}
ul.searchResultsListings.newsLetter li .content p {
  margin: 0 0 10px 0;
}
ul.searchResultsListings li {
  padding: 15px 0;
}
ul.searchResultsListings li:before,
ul.searchResultsListings li:after {
  content: " ";
  display: table;
}
ul.searchResultsListings li:after {
  clear: both;
}
ul.searchResultsListings li .imgHold {
  width: 9%;
  float: left;
  border-radius: 5px;
  overflow: hidden;
}
ul.searchResultsListings li .content {
  width: 89%;
  float: right;
}
ul.searchResultsListings li .content h2 {
  font-size: 17px;
  color: #f58023;
  font-weight: normal;
  margin: 0 0 5px 0;
  padding: 0;
  text-decoration: underline;
}
ul.searchResultsListings li .content h6 {
  font-weight: normal;
  margin: 0 0 5px 0;
}
.paginationContainer {
  padding: 15px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.paginationContainer:before,
.paginationContainer:after {
  content: " ";
  display: table;
}
.paginationContainer:after {
  clear: both;
}
ul.paginationListing {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.paginationListing:before,
ul.paginationListing:after {
  content: " ";
  display: table;
}
ul.paginationListing:after {
  clear: both;
}
ul.paginationListing li {
  float: left;
  margin-left: 5px;
}
ul.paginationListing li a {
  padding: 0 10px;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  color: #414141;
}
.nomarginBtm {
  margin-bottom: 0px !important;
}
.siteMapContainer {
  margin: 0;
  padding: 0;
}
.siteMapContainer:before,
.siteMapContainer:after {
  content: " ";
  display: table;
}
.siteMapContainer:after {
  clear: both;
}
.siteMapContainer h2 {
  font-size: 24px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  padding: 0;
  font-weight: normal;
}
ul.siteMapListing {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.siteMapListing:before,
ul.siteMapListing:after {
  content: " ";
  display: table;
}
ul.siteMapListing:after {
  clear: both;
}
ul.siteMapListing li {
  margin: 0;
  background-image: url('../../media/dist/sitemap/listbullet.jpg');
  background-repeat: no-repeat;
  background-position: 0 10px;
}
ul.siteMapListing li a {
  padding: 3px 0 3px 20px;
  display: block;
  font-size: 16px;
  color: #8f8f8f;
}
ul.siteMapListing li a:hover,
ul.siteMapListing li a.focus {
  text-decoration: none;
}
.marginBtm30 {
  margin-bottom: 30px !important;
}
.viewButton {
  padding: 5px 40px !important;
  display: inline-block;
  text-align: center !important;
  color: #fff !important;
  background-image: none !important;
  font-size: 13px;
  text-transform: uppercase;
}
.viewButton:before,
.viewButton:after {
  content: " ";
  display: table;
}
.viewButton:after {
  clear: both;
}
.viewButton:hover {
  text-decoration: none;
}
.otherContactInfoBox:before,
.otherContactInfoBox:after {
  content: " ";
  display: table;
}
.otherContactInfoBox:after {
  clear: both;
}
.otherContactInfoBox h6 {
  font-size: 18px;
  font-weight: normal;
}
/*Contact form Section
==================================*/
.contactFormSection h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 15px 0;
}
.contactFormSection .form-group {
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
}
.contactFormSection .form-group div.selector {
  background-image: transparent;
  background-repeat: repeat;
  border: 1px solid #ccc;
  box-shadow: none;
  margin: 0;
  height: 40px;
  line-height: 10px;
  position: relative;
  width: 100% !important;
  text-align: left;
  color: #202020;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
}
.contactFormSection .form-group div.selector span {
  text-shadow: none;
  padding-left: 12px;
  padding-right: 8px;
  background-image: url('../../media/dist/icons/dropdown-arrow.png');
  background-position: right 0px;
  background-repeat: no-repeat;
  height: 40px;
  line-height: 40px;
  font-size: 11px;
  text-transform: capitalize;
  width: 100% !important;
  display: block;
}
.contactFormSection .form-group div.selector select {
  min-width: 70px;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 33px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.contactFormSection .form-group div.selector select option {
  padding: 10px 5px;
}
.contactFormSection .form-group label.control-label {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.contactFormSection .form-group label.control-label.red {
  position: absolute;
  bottom: -25px;
  font-size: 12px;
  font-weight: normal;
}
.contactFormSection .form-group input.form-control {
  background: #ffffff;
  padding: 0 10px;
  font-size: 14px;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
  height: 40px;
  font-weight: normal;
  border-radius: 0;
}
.contactFormSection .form-group input.form-control::-moz-placeholder {
  color: #bdbdbd;
  opacity: 1;
}
.contactFormSection .form-group input.form-control:-ms-input-placeholder {
  color: #bdbdbd;
}
.contactFormSection .form-group input.form-control::-webkit-input-placeholder {
  color: #bdbdbd;
}
.contactFormSection .form-group textarea.form-control {
  background: #ffffff;
  padding: 0 10px;
  font-size: 14px;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
  height: 100px;
  font-weight: normal;
  border-radius: 0;
}
.contactFormSection .form-group textarea.form-control::-moz-placeholder {
  color: #bdbdbd;
  opacity: 1;
}
.contactFormSection .form-group textarea.form-control:-ms-input-placeholder {
  color: #bdbdbd;
}
.contactFormSection .form-group textarea.form-control::-webkit-input-placeholder {
  color: #bdbdbd;
}
.contactFormSection .form-group.captch input {
  width: 96%;
}
.sendButton {
  margin: 0 0 0 0;
  padding: 7px 60px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  border: 0;
  background-color: #afbc22;
  float: right;
  display: inline-block;
  text-transform: uppercase;
}
/*Contact form Section
==================================*/
.addressSection:before,
.addressSection:after {
  content: " ";
  display: table;
}
.addressSection:after {
  clear: both;
}
.addressSection p {
  color: #000;
  line-height: 30px;
}
.addressSection p span {
  margin-right: 5px;
  display: inline-block;
}
.intrestingFactsSlider {
  position: relative;
}
.intrestingFactsSlider .flex-control-nav {
  width: auto;
  bottom: 10px;
  z-index: 999;
  right: 20px;
}
.intrestingFactsSlider .flex-control-nav li {
  margin: 0 3px;
}
.intrestingFactsSlider .flex-control-nav li a {
  background: #fff;
  width: 9px;
  height: 9px;
}
.intrestingFactsSlider .flex-control-nav li a.flex-active {
  background: #000000;
}
.instagramInnerSlider {
  position: relative;
}
.instagramInnerSlider .flex-direction-nav li a {
  outline: 0;
}
.instagramInnerSlider .flex-direction-nav li a.flex-prev {
  background-image: url('../../media/dist/icons/insta-arrow-left.png');
  width: 12px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 1 !important;
  z-index: 999;
  top: auto;
}
.instagramInnerSlider .flex-direction-nav li a.flex-next {
  background-image: url('../../media/dist/icons/insta-arrow-right.png');
  width: 12px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: auto;
  opacity: 1 !important;
  z-index: 999;
  top: auto;
}
.twitterInnerSlider {
  position: relative;
}
.twitterInnerSlider .flex-direction-nav li a {
  outline: 0;
}
.twitterInnerSlider .flex-direction-nav li a.flex-prev {
  background-image: url('../../media/dist/icons/twitter-arrow-left.png');
  width: 12px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 1 !important;
  z-index: 999;
  top: auto;
}
.twitterInnerSlider .flex-direction-nav li a.flex-next {
  background-image: url('../../media/dist/icons/twitter-arrow-right.png');
  width: 12px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: auto;
  opacity: 1 !important;
  z-index: 999;
  top: auto;
}
.newsletterTabNavigation {
  margin: 10px 0 20px 0;
}
.newsletterTabNavigation:before,
.newsletterTabNavigation:after {
  content: " ";
  display: table;
}
.newsletterTabNavigation:after {
  clear: both;
}
.newsletterTabNavigation li {
  float: left;
  margin-right: 10px;
}
.newsletterTabNavigation li a {
  font-size: 13px;
  text-transform: uppercase;
  color: #717171;
  padding-left: 15px;
  background-image: url('../../media/dist/sprite.png');
  background-position: 0 -247px;
  background-repeat: no-repeat;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.newsletterTabNavigation li a:hover {
  text-decoration: none;
  color: #000;
}
.newsLetterTabContentContainer {
  padding: 20px 0;
}
.newsLetterTabContentContainer:before,
.newsLetterTabContentContainer:after {
  content: " ";
  display: table;
}
.newsLetterTabContentContainer:after {
  clear: both;
}
.register {
  margin-bottom: 30px;
}
.register .formgroup {
  margin-bottom: 20px;
}
.register .formgroup .form-label {
  color: #000;
  font-size: 14px;
}
.register .formgroup .form-control {
  border: 1px solid #ccc;
  border-radius: 0;
}
.register .btnorange {
  border: 0;
  background: #f58023;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: block;
  width: 100%;
}
.register .btnorange:hover {
  text-decoration: none;
}
.testimonialSlider {
  position: relative;
}
.testimonialSlider .flex-control-nav {
  bottom: 20px;
  z-index: 99999;
  left: 165px;
  width: auto;
}
.testimonialSlider .flex-control-paging li {
  margin: 0 3px;
}
.testimonialSlider .flex-control-paging li a {
  width: 9px;
  height: 9px;
}
@font-face {
  font-family: 'Aspect 2 Regular';
  src: url('../../font/Aspect2-Bold.eot');
  src: url('../../font/Aspect2-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../font/Aspect2-Bold.woff') format('woff'), /* Modern Browsers */ url('../../font/Aspect2-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../font/Aspect2-Bold.svg#4d09851f14c3d98763eb9b0ecb7f409e') format('svg');
  font-style: normal;
  font-weight: 700;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'Aspect 2 Regular';
  src: url('../../font/Aspect2-Regular.eot');
  src: url('../../font/Aspect2-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../font/Aspect2-Regular.woff') format('woff'), /* Modern Browsers */ url('../../font/Aspect2-Regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../font/Aspect2-Regular.svg#85163cd729d186af7e621e1ae743a3e7') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
body {
  font-weight: 400;
}
.relative {
  position: relative;
  z-index: 10;
}
.capital {
  text-transform: uppercase;
}
.centeralized {
  text-align: center;
}
.clearAll {
  display: block;
  clear: both;
}
.figcaption {
  font-weight: 400;
  margin-bottom: 30px;
}
.subtitlepage {
  margin-top: 0;
  font-weight: 400;
  text-transform: uppercase;
}
.imagethumb {
  overflow: hidden;
  margin-bottom: 30px;
}
.imagethumb a {
  display: block;
}
.bookingmourning {
  color: #f58023;
  font-weight: 700;
  font-size: 14px;
  padding-right: 25px;
  margin-bottom: 30px;
  display: block;
  background-image: url('../../media/dist/sprite.png');
  background-position: -850px -88px;
  background-repeat: no-repeat;
  text-decoration: underline;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.bookingmourning:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -840px -88px;
  background-repeat: no-repeat;
}
.bookingmourning.bluefont {
  background-image: url('../../media/dist/sprite.png');
  background-position: -825px -103px;
  background-repeat: no-repeat;
}
.bookingmourning.bluefont:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -835px -103px;
  background-repeat: no-repeat;
}
.orangefont {
  color: #f58023 !important;
}
.bluefont {
  color: #1a9cd7 !important;
}
.greenfont {
  color: #afbc22 !important;
}
.dbluefont {
  color: #006d9f !important;
}
.purplefont {
  color: #9b5ba4 !important;
}
.yellowfont {
  color: #ffb016 !important;
}
.brownfont {
  color: #8e4316 !important;
}
.orangebg {
  background-color: #f58023;
}
.bluebg {
  background-color: #1a9cd7;
}
.greenbg {
  background-color: #afbc22;
}
.dbluebg {
  background-color: #006d9f;
}
.purplebg {
  background-color: #9b5ba4;
}
.yellowbg {
  background-color: #ffb016;
}
.brownbg {
  background-color: #8e4316;
}
.orangebr {
  border-color: #f58023;
}
.bluebr {
  border-color: #1a9cd7;
}
.greenbr {
  border-color: #afbc22;
}
.dbluebr {
  border-color: #006d9f;
}
.purplebr {
  border-color: #9b5ba4;
}
.yellowbr {
  border-color: #ffb016;
}
.borwnbr {
  border-color: #8e4316;
}
#Main-head {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
#Main-head .container {
  position: realtive;
}
#Header-slider {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 580px;
  overflow: hidden;
}
#Header-slider ul {
  margin: 0 0 0 0;
}
#Header-slider ul li {
  width: 100%;
  position: relative;
}
#Header-slider ul li .editbtnadmin {
  position: absolute;
  left: 0;
  bottom: 60px;
  z-index: 9999;
}
#Header-slider ul li img {
  width: 100%;
}
#Primary-navigation {
  position: relative;
  z-index: 2;
  left: 0;
  top: 0;
}
#Primary-navigation .logo {
  display: block;
  background-image: url('../../media/dist/sprite.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  height: 140px;
}
#Primary-navigation .primary-nav ul:before,
#Primary-navigation .primary-nav ul:after {
  content: " ";
  display: table;
}
#Primary-navigation .primary-nav ul:after {
  clear: both;
}
#Primary-navigation .primary-nav ul li {
  float: left;
}
#Primary-navigation .primary-nav ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 33px;
  background-image: url('../../media/dist/sprite.png');
  background-position: -977px 5px;
  background-repeat: no-repeat;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#Primary-navigation .primary-nav ul li a:hover {
  text-decoration: none;
  background-position: -948px 5px;
}
#Primary-navigation .primary-nav ul li.active a {
  text-decoration: none;
  background-position: -948px 5px;
}
#Primary-navigation .top-side {
  margin-top: 37px;
  margin-bottom: 37px;
}
#Primary-navigation .top-side:before,
#Primary-navigation .top-side:after {
  content: " ";
  display: table;
}
#Primary-navigation .top-side:after {
  clear: both;
}
#Primary-navigation .top-side .language {
  margin: 5px 20px 0 230px;
}
#Primary-navigation .top-side .language li {
  float: left;
  margin-left: 5px;
}
#Primary-navigation .top-side .language li:first-child {
  margin-left: 0;
}
#Primary-navigation .top-side .language li a {
  padding: 4px 15px 2px;
  color: #fff;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#Primary-navigation .top-side .language li a:hover {
  text-decoration: none;
  background-color: #1a9cd7;
}
#Primary-navigation .top-side .language li.active a {
  background-color: #1a9cd7;
}
#Primary-navigation .top-side .searchbox {
  width: 28%;
  background-color: #fff;
  position: relative;
  margin-right: 20px;
}
#Primary-navigation .top-side .searchbox input {
  border: none;
  padding: 3px 5px 3px 10px;
  display: block;
  width: 83%;
  background-color: transparent;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
#Primary-navigation .top-side .searchbox input:focus {
  box-shadow: none;
  outline: 0;
}
#Primary-navigation .top-side .searchbox .btn {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url('../../media/dist/sprite.png');
  background-position: -183px 8px;
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
  text-indent: 9999px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#Primary-navigation .top-side .searchbox .btn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#Primary-navigation .top-side .socialbtn {
  background-color: #f58023;
  padding: 4px 15px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 20px;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
#Primary-navigation .top-side .socialbtn:hover {
  background-color: #1a9cd7;
  text-decoration: none;
}
#Primary-navigation .top-side .socialbar {
  margin: 0 0 0 0;
}
#Primary-navigation .top-side .socialbar:before,
#Primary-navigation .top-side .socialbar:after {
  content: " ";
  display: table;
}
#Primary-navigation .top-side .socialbar:after {
  clear: both;
}
#Primary-navigation .top-side .socialbar li {
  float: left;
  margin-left: 19px;
}
#Primary-navigation .top-side .socialbar li a {
  width: 32px;
  height: 30px;
  display: block;
  background-image: url('../../media/dist/sprite.png');
  background-position: -4px -163px;
  background-repeat: no-repeat;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#Primary-navigation .top-side .socialbar li.facebook a {
  backgorund-position: -4px -163px;
}
#Primary-navigation .top-side .socialbar li.facebook a:hover {
  background-position: -4px -194px;
}
#Primary-navigation .top-side .socialbar li.pintrest a {
  background-position: -46px -163px;
}
#Primary-navigation .top-side .socialbar li.pintrest a:hover {
  background-position: -46px -194px;
}
#Primary-navigation .top-side .socialbar li.twitter a {
  background-position: -91px -163px;
}
#Primary-navigation .top-side .socialbar li.twitter a:hover {
  background-position: -91px -194px;
}
#Primary-navigation .top-side .socialbar li.youtube a {
  background-position: -140px -163px;
}
#Primary-navigation .top-side .socialbar li.youtube a:hover {
  background-position: -140px -194px;
}
#Primary-navigation .top-side .socialbar li:first-child {
  margin-left: 0;
}
#Secondary-navigation {
  position: relative;
  z-index: 2;
  margin-top: 70px;
}
#Secondary-navigation ul:before,
#Secondary-navigation ul:after {
  content: " ";
  display: table;
}
#Secondary-navigation ul:after {
  clear: both;
}
#Secondary-navigation ul li a {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#Secondary-navigation ul li a:hover {
  text-decoration: none;
  border-radius: 5px;
}
#Secondary-navigation ul li .arrow {
  display: block;
  border: 18px solid transparent;
  border-top-color: #000;
  position: absolute;
  bottom: -18px;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 50%;
  margin-left: -12px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#Secondary-navigation ul li .arrow.orangebr {
  border-top-color: #f58023;
}
#Secondary-navigation ul li .arrow.bluebr {
  border-top-color: #1a9cd7;
}
#Secondary-navigation ul li .arrow.purplebr {
  border-top-color: #9b5ba4;
}
#Secondary-navigation ul li .arrow.dbluebr {
  border-top-color: #006d9f;
}
#Secondary-navigation ul li .arrow.yellowbr {
  border-top-color: #ffb016;
}
#Secondary-navigation ul li .arrow.greenbr {
  border-top-color: #afbc22;
}
#Secondary-navigation ul li:hover a,
#Secondary-navigation ul li.active a {
  border-radius: 5px;
}
#Secondary-navigation ul li:hover .arrow,
#Secondary-navigation ul li.active .arrow {
  bottom: -30px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.planyourtripbar {
  margin-top: 570px;
  background-color: #f1f1f1;
  padding: 20px 0;
}
.planyourtripbar .centeralized {
  text-align: center;
}
.planyourtripbar .centeralized .label {
  background-color: #afbc22;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  padding: 6px 10px 5px;
  position: relative;
  margin-right: 15px;
}
.planyourtripbar .centeralized .label span {
  display: block;
  border: 8px solid transparent;
  border-left-color: #afbc22;
  position: absolute;
  right: -14px;
  top: 6px;
}
.planyourtripbar .centeralized .selector {
  border: none;
  padding: 4px 10px 1px;
  font-size: 11px;
  color: #b1b1b1;
  width: 30%;
  text-transform: uppercase;
  line-height: 24px;
  margin-right: 10px;
  background: #fff;
  position: relative;
  display: inline-block;
}
.planyourtripbar .centeralized .selector span {
  width: 100%;
  text-align: left;
  display: block;
  line-height: 24px;
}
.planyourtripbar .centeralized .selector select {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  width: 100%;
  height: 29px;
  top: 5px;
  left: 0;
}
.planyourtripbar .centeralized .planyourtripbtn {
  border: none;
  background-color: #afbc22;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  padding: 6px 10px 5px;
}
.planyourtripbar .centeralized .planyourtripbtn:hover {
  text-decoration: none;
}
#Content-area {
  background-color: #fff;
}
.welcome-text {
  padding-bottom: 0;
  padding-top: 30px;
}
.welcome-text .subtitle {
  color: #8f8f8f;
  margin-top: 0;
}
.shortcut-box {
  margin-bottom: 50px;
}
.shortcut-box:before,
.shortcut-box:after {
  content: " ";
  display: table;
}
.shortcut-box:after {
  clear: both;
}
.shortcut-box .quicklinks {
  width: 25%;
  float: left;
}
.shortcut-box .quicklinks a {
  color: #fff;
  font-size: 18px;
  line-height: 17px;
  padding: 25px 20px 35px;
  display: block;
  position: relative;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.shortcut-box .quicklinks a span.arrow {
  border: 10px solid transparent;
  border-left-color: #f58023;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.shortcut-box .quicklinks a.purplebg span.arrow {
  border-left-color: #9b5ba4;
}
.shortcut-box .quicklinks a.orangebg span.arrow {
  border-left-color: #f58023;
}
.shortcut-box .quicklinks a.greenbg span.arrow {
  border-left-color: #afbc22;
}
.shortcut-box .quicklinks a:hover {
  text-decoration: none;
}
.shortcut-box .quicklinks a:hover .linkarrow {
  left: 80px;
}
.shortcut-box .quicklinks a .linkarrow {
  width: 16px;
  height: 12px;
  background-image: url('../../media/dist/sprite.png');
  background-position: -983px -56px;
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  bottom: 10px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.shortcut-box .quicklinks a.active span.arrow,
.shortcut-box .quicklinks a:hover span.arrow {
  right: -19px;
}
.shortcut-box .video-box {
  display: none;
  width: 70%;
  float: left;
  position: relative;
  max-height: 282px;
  overflow: hidden;
  z-index: 1;
}
.shortcut-box .video-box a.playbtn {
  position: absolute;
  left: 45%;
  top: 45%;
  right: 0;
  width: 33px;
  height: 33px;
  background-image: url('../../media/dist/sprite.png');
  background-position: -185px -27px;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}
.shortcut-box .video-box a.editbtnadmin {
  position: absolute;
  bottom: 0;
  left: 0;
}
.shortcut-box .photo-box {
  width: 70%;
  float: left;
  position: relative;
  max-height: 282px;
  overflow: hidden;
  z-index: 1;
}
.shortcut-box .photo-box a.playbtn {
  position: absolute;
  left: 45%;
  top: 45%;
  right: 0;
  width: 33px;
  height: 33px;
  background-image: url('../../media/dist/sprite.png');
  background-position: -185px -27px;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}
.shortcut-box .photo-box a.editbtnadmin {
  position: absolute;
  bottom: 0;
  left: 0;
}
.shortcut-box .map-box {
  display: none;
  width: 70%;
  float: left;
  position: relative;
  max-height: 282px;
  overflow: hidden;
  z-index: 1;
}
.shortcut-box .map-box a.playbtn {
  position: absolute;
  left: 45%;
  top: 45%;
  right: 0;
  width: 33px;
  height: 33px;
  background-image: url('../../media/dist/sprite.png');
  background-position: -185px -27px;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}
.shortcut-box .map-box a.editbtnadmin {
  position: absolute;
  bottom: 0;
  left: 0;
}
#Home-activites-area {
  background-color: #f2f2f2;
  padding: 30px 0;
}
#Home-activites-area .panel-heading {
  font-weight: 400;
  color: #444444;
  margin-bottom: 30px;
}
#Home-activites-area li {
  margin-bottom: 30px;
}
#Home-activites-area li .activity a {
  display: block;
  border-radius: 5px;
  background-color: #f58023;
  padding: 0 0 0 0;
  position: relative;
}
#Home-activites-area li .activity a img {
  border-radius: 5px;
  width: 100%;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
#Home-activites-area li .activity a .title {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
  margin: 0 0 0 0;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#Home-activites-area li .activity a .title .arrow {
  border: 10px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  bottom: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
#Home-activites-area li .activity a .title.orangebg .arrow {
  border-bottom-color: #f58023;
}
#Home-activites-area li .activity a .title.purplebg .arrow {
  border-bottom-color: #9b5ba4;
}
#Home-activites-area li .activity a .title.greenbg .arrow {
  border-bottom-color: #afbc22;
}
#Home-activites-area li .activity a .title.bluebg .arrow {
  border-bottom-color: #1a9cd7;
}
#Home-activites-area li .activity a .title.dbluebg .arrow {
  border-bottom-color: #006d9f;
}
#Home-activites-area li .activity a .title.brownbg .arrow {
  border-bottom-color: #8e4316;
}
#Home-activites-area li .activity a .title.yellowbg .arrow {
  border-bottom-color: #ffb016;
}
#Home-activites-area li .activity a:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
#Home-activites-area li .activity a:hover .title {
  opacity: 1;
  filter: alpha(opacity=100);
}
#Home-activites-area li .activity a:hover .title .arrow {
  bottom: 46px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.shortcut-links-home {
  margin: 0 0 20px 0;
}
.shortcut-links-home:before,
.shortcut-links-home:after {
  content: " ";
  display: table;
}
.shortcut-links-home:after {
  clear: both;
}
.shortcut-links-home li {
  width: 25%;
  float: left;
}
.shortcut-links-home li a {
  display: block;
  margin-left: 2px;
  overflow: hidden;
}
.shortcut-links-home li a img {
  width: 100%;
  height: 108px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.shortcut-links-home li a span.bar {
  width: 100%;
  padding: 8px 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  display: block;
  position: relative;
}
.shortcut-links-home li a span.bar span.arrow {
  border: 10px solid transparent;
  border-bottom-color: #000;
  top: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.shortcut-links-home li a span.bar.orangebg span.arrow {
  border-bottom-color: #f58023;
}
.shortcut-links-home li a span.bar.bluebg span.arrow {
  border-bottom-color: #1a9cd7;
}
.shortcut-links-home li a span.bar.purplebg span.arrow {
  border-bottom-color: #9b5ba4;
}
.shortcut-links-home li a span.bar.dbluebg span.arrow {
  border-bottom-color: #006d9f;
}
.shortcut-links-home li a span.bar.yellowbg span.arrow {
  border-bottom-color: #ffb016;
}
.shortcut-links-home li a span.bar.greenbg span.arrow {
  border-bottom-color: #afbc22;
}
.shortcut-links-home li a:hover {
  text-decoration: none;
}
.shortcut-links-home li a:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.shortcut-links-home li a:hover span.bar span.arrow {
  top: -20px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.shortcut-links-home li:first-child a {
  margin-left: 0;
}
.roundedbox:before,
.roundedbox:after {
  content: " ";
  display: table;
}
.roundedbox:after {
  clear: both;
}
.roundedbox .thumbnail-round {
  width: 25%;
  float: left;
  margin-right: 3%x;
  position: relative;
}
.roundedbox .thumbnail-round .roundedcontainer {
  position: relative;
  z-index: 2;
}
.roundedbox .thumbnail-round .normal-thumb {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.roundedbox .box-content {
  width: 72%;
  float: left;
  position: relative;
}
.roundedbox .box-content .title-box {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}
.roundedbox .box-content .title-box a {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.roundedbox .box-content .title-box a:hover {
  text-decoration: none;
}
.roundedbox .box-content .sub-title {
  text-transform: uppercase;
  font-weight: 400;
  color: #8f8f8f;
  margin-top: 0;
  margin-bottom: 10px;
  max-height: 15px;
  overflow: hidden;
}
.roundedbox .box-content .sub-title a {
  color: #8f8f8f;
}
.roundedbox .box-content p {
  width: 90%;
  font-size: 15px;
  font-weight: 400;
  max-height: 49px;
  overflow: hidden;
  margin-bottom: 12px;
}
.roundedbox .box-content a.mainarrow {
  width: 16px;
  height: 12px;
  background-image: url('../../media/dist/sprite.png');
  background-position: -983px -77px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  bottom: 20px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.roundedbox .box-content .readmorebtn {
  color: #fff;
  font-size: 14px;
  z-index: 2;
  position: relative;
  padding-right: 35px;
  background-image: url('../../media/dist/sprite.png');
  background-position: -883px -52px;
  background-repeat: no-repeat;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  font-weight: 700;
  display: block;
}
.roundedbox .box-content .readmorebtn:hover {
  text-decoration: none;
}
.roundedbox:hover .box-content .mainarrow {
  right: 30px;
}
.roundedbox.oneBlock .thumbnail-round {
  width: 11% !important;
}
.roundedbox.inner {
  margin-bottom: 30px;
}
.roundedbox.inner .thumbnail-round {
  width: 25%;
  margin-right: 5%;
  overflow: hidden;
}
.roundedbox.inner .thumbnail-round img {
  width: 100%;
  height: auto;
}
.roundedbox.inner .box-content {
  width: 70%;
}
.roundedbox.inner .box-content .title-box {
  margin-bottom: 4px;
}
.roundedbox.inner .box-content .title-box a {
  font-weight: 700;
}
.roundedbox.inner .box-content .sub-title {
  text-transform: none;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 4px;
}
.roundedbox.inner .box-content p {
  width: 100%;
  margin-bottom: 10px;
  line-height: 16px;
}
.roundedbox.blue .box-content .title-box a {
  color: #1a9cd7;
}
.roundedbox.blue .box-content .readmorebtn {
  color: #1a9cd7;
  background-image: url('../../media/dist/sprite.png');
  background-position: -893px -104px;
  background-repeat: no-repeat;
}
.roundedbox.blue .box-content .readmorebtn:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -903px -104px;
  background-repeat: no-repeat;
}
.roundedbox.green .box-content .title-box a {
  color: #afbc22;
}
.roundedbox.green .box-content .readmorebtn {
  color: #afbc22;
  background-image: url('../../media/dist/sprite.png');
  background-position: -893px -73px;
  background-repeat: no-repeat;
}
.roundedbox.green .box-content .readmorebtn:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -903px -73px;
  background-repeat: no-repeat;
}
.roundedbox.purple .box-content .title-box a {
  color: #9b5ba4;
}
.roundedbox.purple .box-content .readmorebtn {
  color: #9b5ba4;
  background-image: url('../../media/dist/sprite.png');
  background-position: -893px -131px;
  background-repeat: no-repeat;
}
.roundedbox.purple .box-content .readmorebtn:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -903px -131px;
  background-repeat: no-repeat;
}
.roundedbox.orange .box-content .title-box a {
  color: #f58023;
}
.roundedbox.orange .box-content .readmorebtn {
  color: #f58023;
  background-image: url('../../media/dist/sprite.png');
  background-position: -893px -89px;
  background-repeat: no-repeat;
}
.roundedbox.orange .box-content .readmorebtn:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -903px -89px;
  background-repeat: no-repeat;
}
.roundedbox.orange .box-content .readmorebtn.extra {
  background-image: url('../../media/dist/sprite.png');
  background-position: -815px -89px;
  background-repeat: no-repeat;
}
.roundedbox.orange .box-content .readmorebtn.extra:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -835px -89px;
  background-repeat: no-repeat;
}
#Footer-area {
  background: #fff;
  padding-top: 30px;
}
#Footer-area .footer-banner {
  display: block;
}
#Footer-area .footer-newsletter h4 {
  color: #8e4316;
  font-weight: 400;
  margin: 0 0 10px 0;
}
#Footer-area .footer-newsletter .form-group {
  position: relative;
}
#Footer-area .footer-newsletter .form-group .newsletter-field {
  border: 1px solid #bcb4a3;
  width: 65%;
  color: #c1a275;
  font-size: 12px;
  float: left;
  line-height: 27px;
  padding: 0 20px 0 10px;
  border-right: 0;
  margin-bottom: 5px;
}
#Footer-area .footer-newsletter .form-group .subscribe-btn {
  border: none;
  color: #fff;
  width: 35%;
  float: left;
  text-align: center;
  margin-bottom: 5px;
  padding: 2px 0 3px 0;
}
#Footer-area .footer-newsletter .form-group .arrow {
  border: 14px solid transparent;
  border-left-color: #fff;
  position: absolute;
  left: 65%;
}
#Footer-area .footer-newsletter .form-group .info {
  display: none;
  font-size: 14px;
  margin-top: 5px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#Footer-area .footer-newsletter .form-group .info a {
  text-decoration: underline;
}
#Footer-area .copyright-container {
  margin-top: 130px;
  padding: 10px 0px;
}
#Footer-area .copyright-container .footer-links {
  margin: 17px 0 0 0;
}
#Footer-area .copyright-container .footer-links li {
  float: left;
}
#Footer-area .copyright-container .footer-links li a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 5px;
  margin-left: 5px;
  border-left: 1px solid #fff;
  display: block;
  line-height: 12px;
}
#Footer-area .copyright-container .footer-links li:first-child a {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
#Footer-area .copyright-container .copyright-text {
  text-align: right;
  font-size: 12px;
  color: #fff;
}
#Footer-area .copyright-container .copyright-text a {
  color: #fff;
  text-decoration: underline;
}
#Footer-area .copyright-container .island-graphics {
  background-image: url('../../media/dist/sprite.png');
  background-position: 0 -890px;
  background-repeat: no-repeat;
  width: 550px;
  height: 110px;
  position: absolute;
  left: 0;
  top: -120px;
  display: block;
}
.title-bar {
  padding: 8px 0;
  margin-bottom: 20px;
}
.title-bar .container {
  position: relative;
}
.title-bar .title {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-weight: 400;
  line-height: 24px;
}
.title-bar .arrow {
  border: 18px solid transparent;
  border-top-color: #000;
  position: absolute;
  left: 40px;
  bottom: -40px;
}
.title-bar.orangebg .arrow {
  border-top-color: #f58023;
}
.title-bar.purplebg .arrow {
  border-top-color: #9b5ba4;
}
.title-bar.greenbg .arrow {
  border-top-color: #afbc22;
}
.title-bar.bluebg .arrow {
  border-top-color: #1a9cd7;
}
.title-bar.yellowbg .arrow {
  border-top-color: #ffb016;
}
.title-bar.dbluebg .arrow {
  border-top-color: #006d9f;
}
.page-breadcrumb {
  margin: 10px 0 20px 0;
}
.page-breadcrumb:before,
.page-breadcrumb:after {
  content: " ";
  display: table;
}
.page-breadcrumb:after {
  clear: both;
}
.page-breadcrumb li {
  float: left;
  margin-right: 10px;
}
.page-breadcrumb li a {
  font-size: 13px;
  text-transform: uppercase;
  color: #717171;
  padding-left: 15px;
  background-image: url('../../media/dist/sprite.png');
  background-position: 0 -247px;
  background-repeat: no-repeat;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.page-breadcrumb li a:hover {
  text-decoration: none;
  color: #000;
}
.parallax-section {
  margin: 0 0 0 0;
}
.parallax-section li {
  position: relative;
  padding-bottom: 5px;
  margin-top: 60px;
  height: 451px;
  overflow: hidden;
}
.parallax-section li .image-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #fff;
  max-height: 446px;
  overflow: hidden;
}
.parallax-section li .white-wrapper {
  background: #fff;
  border-radius: 10px;
  height: 100%;
  padding: 30px;
  margin: 10% 0;
  position: relative;
  z-index: 2;
}
.parallax-section li .white-wrapper .title {
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
}
.parallax-section li .white-wrapper .readmore-btn {
  color: #afbc22;
  padding-right: 35px;
  background-image: url('../../media/dist/sprite.png');
  background-position: -878px -70px;
  background-repeat: no-repeat;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.parallax-section li .white-wrapper .readmore-btn:hover {
  text-decoration: none;
}
.parallax-section li.greenbg .white-wrapper .title {
  color: #afbc22;
}
.parallax-section li.greenbg .white-wrapper .readmore-btn {
  color: #afbc22;
  background-image: url('../../media/dist/sprite.png');
  background-position: -878px -70px;
  background-repeat: no-repeat;
}
.parallax-section li.greenbg .white-wrapper .readmore-btn:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -892px -70px;
  background-repeat: no-repeat;
}
.parallax-section li.orangebg .white-wrapper .title {
  color: #f58023;
}
.parallax-section li.orangebg .white-wrapper .readmore-btn {
  color: #f58023;
  background-image: url('../../media/dist/sprite.png');
  background-position: -878px -87px;
  background-repeat: no-repeat;
}
.parallax-section li.orangebg .white-wrapper .readmore-btn:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -892px -87px;
  background-repeat: no-repeat;
}
.parallax-section li.bluebg .white-wrapper .title {
  color: #1a9cd7;
}
.parallax-section li.bluebg .white-wrapper .readmore-btn {
  color: #1a9cd7;
  background-image: url('../../media/dist/sprite.png');
  background-position: -878px -102px;
  background-repeat: no-repeat;
}
.parallax-section li.bluebg .white-wrapper .readmore-btn:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -892px -102px;
  background-repeat: no-repeat;
}
.parallax-section li.purplebg .white-wrapper .title {
  color: #9b5ba4;
}
.parallax-section li.purplebg .white-wrapper .readmore-btn {
  color: #9b5ba4;
  background-image: url('../../media/dist/sprite.png');
  background-position: -878px -131px;
  background-repeat: no-repeat;
}
.parallax-section li.purplebg .white-wrapper .readmore-btn:hover {
  background-image: url('../../media/dist/sprite.png');
  background-position: -892px -131px;
  background-repeat: no-repeat;
}
.parallax-section li:first-child {
  margin-top: 0;
}
#multiple-btns {
  padding-top: 20px;
  background-color: #fff;
}
#multiple-btns.nomargintop {
  padding-top: 0;
}
#multiple-btns.detailPage {
  padding-top: 20px;
}
#multiple-btns.detailPage.water {
  text-align: center;
}
#multiple-btns.detailPage.water ul {
  display: inline-block;
  width: 100%;
}
#multiple-btns.detailPage.water ul li {
  display: inline-block;
  float: none;
}
#multiple-btns.detailPage ul.RedBull {
  text-align: center;
}
#multiple-btns.detailPage ul.RedBull li {
  float: none;
  display: inline-block;
}
#multiple-btns.detailPage ul li {
  margin-left: 0.5%;
  width: 13.85%;
}
#multiple-btns.detailPage ul li a {
  padding: 10px 0 0 0;
  min-height: 58px;
  text-align: center;
}
#multiple-btns.detailPage ul li a.oneline span {
  top: -1px;
}
#multiple-btns.detailPage ul li a.oneline h3 {
  margin-top: 14px;
}
#multiple-btns.detailPage ul li a span {
  display: inline-block;
  margin-right: 3px;
  height: auto;
  position: relative;
  top: -7px;
}
#multiple-btns.detailPage ul li a h3 {
  text-align: left;
  display: inline-block;
  margin: 5px 0 0 0;
  padding: 0;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  width: 70%;
}
#multiple-btns ul {
  margin: 0 0 0 0;
}
#multiple-btns ul:before,
#multiple-btns ul:after {
  content: " ";
  display: table;
}
#multiple-btns ul:after {
  clear: both;
}
#multiple-btns ul li {
  float: left;
  width: 12.520%;
  margin-left: 2%;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#multiple-btns ul li:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
#multiple-btns ul li a {
  display: block;
  color: #fff;
  padding: 20px 00px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}
#multiple-btns ul li a:hover {
  text-decoration: none;
}
#multiple-btns ul li a span {
  display: block;
  height: 40px;
}
#multiple-btns ul li:first-child {
  margin-left: 0;
}
#multiple-btns ul li.purplebg {
  border: 1px solid #7c4983;
}
#multiple-btns ul li.bluebg {
  border: 1px solid #147baa;
}
#multiple-btns ul li.bluebg:hover {
  -webkit-box-shadow: inset 0 0 20px #147baa;
  box-shadow: inset 0 0 20px #147baa;
}
#multiple-btns ul li.orangebg {
  border: 1px solid #db670a;
}
#multiple-btns ul li.greenbg {
  border: 1px solid #87911a;
}
#multiple-btns ul li.dbluebg {
  border: 1px solid #004a6c;
}
#multiple-btns ul li.yellowbg {
  border: 1px solid #e29500;
}
#multiple-btns.meetanimalsbtn ul li a {
  height: 80px;
}
#multiple-btns.meetanimalsbtn ul li.single a {
  padding: 30px 0;
}
#section-footer {
  background-color: #fff;
}
.intrestingFactsSlider {
  height: 233px;
  overflow: hidden;
  margin-bottom: 30px;
}
.double-box {
  margin-bottom: 30px;
  height: 233px;
  overflow: hidden;
}
.double-box:before,
.double-box:after {
  content: " ";
  display: table;
}
.double-box:after {
  clear: both;
}
.double-box .twopanel {
  width: 45%;
  float: left;
  padding: 20px 20px 20px;
  color: #fff;
  position: relative;
}
.double-box .twopanel.imageholder {
  width: 55%;
  padding: 0 0 0 0;
}
.double-box .twopanel.imageholder img {
  height: 100%;
}
.double-box .twopanel .title {
  color: #fff;
  margin-top: 0;
  font-size: 19px;
}
.double-box .twopanel .title a {
  color: #fff;
}
.double-box .twopanel .title a:hover {
  text-decoration: none;
}
.double-box .twopanel .subtitle {
  color: #fff;
  margin-top: 0;
  font-size: 14px;
}
.double-box .twopanel .subtitle a {
  color: #fff;
}
.double-box .twopanel .subtitle a:hover {
  text-decoration: none;
}
.double-box .twopanel p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 20px;
  height: 95px;
  overflow: hidden;
}
.double-box .twopanel .arrow {
  border: 18px solid transparent;
  border-left-color: #000;
  position: absolute;
  right: -30px;
  top: 10px;
  z-index: 3;
}
.double-box .twopanel .readmorebtn {
  background-image: url('../../media/dist/sprite.png');
  background-position: -903px -52px;
  background-repeat: no-repeat;
  padding-right: 25px;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.double-box.greenbg .arrow {
  border-left-color: #afbc22;
}
.double-box.orangebg .arrow {
  border-left-color: #f58023;
}
.double-box.purplebg .arrow {
  border-left-color: #9b5ba4;
}
.double-box.bluebg .arrow {
  border-left-color: #1a9cd7;
}
.double-box.dbluebg .arrow {
  border-left-color: #006d9f;
}
.double-box.yellowbg .arrow {
  border-left-color: #ffb016;
}
.double-box.big .twopanel {
  width: 40%;
}
.double-box.big .twopanel.imageholder {
  width: 60%;
}
.smallervet .single-box .title {
  font-size: 12px;
}
.smallervet .single-box p {
  height: 120px;
  overflow: hidden;
}
.single-box {
  margin-bottom: 30px;
  position: relative;
  padding: 20px 20px 10px;
  height: 233px;
  overflow: hidden;
}
.single-box .transparent {
  opacity: 0.2;
  filter: alpha(opacity=20);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.single-box .title {
  color: #fff;
  margin-top: 0;
  font-size: 19px;
  z-index: 2;
  position: relative;
}
.single-box .title a {
  color: #fff;
}
.single-box .title a:hover {
  text-decoration: none;
}
.single-box p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 14px;
  line-height: 20px;
  z-index: 2;
  position: relative;
}
.single-box .readmorebtn {
  color: #fff;
  font-size: 14px;
  z-index: 2;
  position: relative;
  padding-right: 40px;
  background-image: url('../../media/dist/sprite.png');
  background-position: -893px -51px;
  background-repeat: no-repeat;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.single-box .readmorebtn:hover {
  text-decoration: none;
  background-image: url('../../media/dist/sprite.png');
  background-position: -903px -51px;
  background-repeat: no-repeat;
}
.single-box.smallvets {
  padding: 30px 15px;
}
.single-box.smallvets .title {
  font-size: 13px;
}
.single-box.smallvets p {
  height: 100px;
  overflow: hidden;
}
.single-box .editbtnadmin {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
}
.border-box {
  position: relative;
  padding-bottom: 8px;
  max-height: 235px;
  overflow: hidden;
  margin-bottom: 30px;
  height: 233px;
}
.border-box a.editbtnadmin {
  position: absolute;
  left: 0;
  bottom: 0;
}
.border-box img {
  height: 100%;
  max-height: 228px;
  border-bottom: 1px solid #fff;
  width: auto;
}
.border-box .linkbtn {
  padding: 10px 20px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 20px;
  right: 0;
  margin: 0px auto;
  width: 92%;
  text-align: center;
  background-color: #000;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.border-box .linkbtn:hover {
  text-decoration: none;
}
.border-box:hover .linkbtn {
  text-decoration: none;
}
.border-box:hover .linkbtn .arrow {
  opacity: 1;
  filter: alpha(opacity=100);
  bottom: -28px;
}
.border-box .arrow {
  border: 14px solid transparent;
  border-top-color: #000;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -12px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.border-box.bluebg .arrow {
  border-top-color: #1a9cd7;
}
.border-box.bluebg .linkbtn {
  background-color: #1a9cd7;
}
.border-box.bluebg .readmoreBttn1 {
  color: #1a9cd7;
}
.border-box.orangebg .arrow {
  border-top-color: #f58023;
}
.border-box.orangebg .linkbtn {
  background-color: #f58023;
}
.border-box.orangebg .readmoreBttn1 {
  color: #f58023;
}
.border-box.greenbg .arrow {
  border-top-color: #afbc22;
}
.border-box.greenbg .linkbtn {
  background-color: #afbc22;
}
.border-box.greenbg .readmoreBttn1 {
  color: #afbc22;
}
.border-box.dbluebg .arrow {
  border-top-color: #006d9f;
}
.border-box.dbluebg .linkbtn {
  background-color: #006d9f;
}
.border-box.dbluebg .readmoreBttn1 {
  color: #006d9f;
}
.border-box.purplebg .arrow {
  border-top-color: #9b5ba4;
}
.border-box.purplebg .linkbtn {
  background-color: #9b5ba4;
}
.border-box.purplebg .readmoreBttn1 {
  color: #9b5ba4;
}
.border-box.yellowbg .arrow {
  border-top-color: #ffb016;
}
.border-box.yellowbg .linkbtn {
  background-color: #ffb016;
}
.border-box.yellowbg .readmoreBttn1 {
  color: #ffb016;
}
.border-box.blue .arrow {
  border-top-color: #1a9cd7;
}
.border-box.blue .linkbtn {
  background-color: #1a9cd7;
}
.border-box.blue .readmoreBttn1 {
  color: #1a9cd7;
}
.border-box.orange .readmoreBttn1 {
  color: #f58023;
}
.border-box.green .readmoreBttn1 {
  color: #afbc22;
}
.border-box.dblue .readmoreBttn1 {
  color: #006d9f;
}
.border-box.purple .readmoreBttn1 {
  color: #9b5ba4;
}
.border-box.yellow .readmoreBttn1 {
  color: #ffb016;
}
.border-box.small .linkbtn {
  left: 0%;
}
.border-box.medium .linkbtn {
  left: 0%;
}
.border-box.bigheight {
  max-height: 300px;
  height: 300px;
}
.border-box.bigheight .boxthumbnail {
  max-height: 300px;
}
.border-box.normal {
  max-height: auto !important;
  height: auto;
  width: auto;
}
.border-box.normal .boxthumbnail {
  width: auto;
  max-height: 1;
}
.border-box.meetanim {
  max-height: 315px;
  height: 315px;
  margin-bottom: 20px;
}
.border-box.meetanim a {
  display: block;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.border-box.meetanim a img {
  width: 100%;
  height: auto;
  max-height: 315px;
}
.footer-nav a {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  height: 49px;
  line-height: 50px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.footer-nav a:hover {
  text-decoration: none;
  color: #fff;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.breadcrumb {
  background: none;
  margin-top: -100px;
}
.breadcrumb li {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
.breadcrumb li a {
  color: #fff;
}
.success-stories {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 35px 0;
  margin-bottom: 30px;
  position: relative;
}
.success-stories .title {
  text-transform: uppercase;
  margin-top: 0;
}
.success-stories ul {
  margin-bottom: 0;
}
.success-stories ul:before,
.success-stories ul:after {
  content: " ";
  display: table;
}
.success-stories ul:after {
  clear: both;
}
.success-stories ul li .roundedbox.inner {
  margin-bottom: 0;
  margin-right: 40px;
}
.success-stories ul li .roundedbox.inner .title-box {
  color: #8f8f8f;
  text-transform: none;
}
.success-stories ul li .roundedbox.inner .title-box a {
  color: #8f8f8f;
}
.success-stories ul li .roundedbox.inner .thumbnail-round {
  width: 30%;
}
.success-stories ul li .roundedbox.inner .box-content {
  width: 65%;
}
.success-stories .flex-control-nav {
  width: auto;
  bottom: 0;
  right: 0;
}
.meet-the-animals {
  background-color: #fff;
}
.meet-the-animals .maintitle {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
}
.meet-the-animals ul li {
  margin-bottom: 30px;
}
.meet-the-animals ul li.aboutDesert {
  margin-bottom: 0;
}
.meet-the-animals ul li .title {
  text-align: center;
  font-weight: 400;
  margin: 0 0 0 0;
}
.meet-the-animals ul li .title:hover {
  text-decoration: none;
}
.animals-listings {
  margin-bottom: 30px;
}
.animals-listings ul {
  margin-bottom: 0 0 0 0;
}
.animals-listings ul li {
  position: relative;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #f58023;
}
.animals-listings ul li .title {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}
.animals-listings ul li h3 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
  color: #f58023;
  font-size: 14px;
}
.animals-listings ul li p {
  font-size: 14px;
}
.animals-listings ul li .animalsound-btn {
  color: #afbc22;
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 14px;
  font-weight: 700;
  padding-left: 30px;
  background-image: url('../../media/dist/sprite.png');
  background-position: -980px -194px;
  background-repeat: no-repeat;
}
.animals-listings ul li .quickfactsbox {
  background-color: #efefef;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 10px;
}
.animals-listings ul li .quickfactsbox .subtitle {
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 5px;
}
.animals-listings ul li .quickfactsbox strong {
  width: 20%;
  color: #000;
}
.animals-listings ul li:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.flighttable {
  margin-bottom: 30px;
}
.flighttable td,
.flighttable th {
  font-size: 14px;
  text-align: center;
}
.distances-widget {
  padding: 10px;
}
.distances-widget .widget-title {
  background-color: #fff;
  padding: 5px 20px;
  font-size: 20px;
  margin: 20px 0 20px 105px;
  display: inline-block;
}
.distances-widget .locations {
  color: #fff;
  text-decoration: underline;
  display: block;
  margin-bottom: 20px;
}
.distances {
  margin-bottom: 10px !important;
  width: 100%;
}
.distances tr {
  border-left: 0;
}
.distances th {
  color: #000;
  text-align: center;
  border-color: #fff !important;
}
.distances th:first-child {
  border-left: 0;
}
.distances td {
  color: #fff;
  text-align: center;
  border-color: #fff !important;
}
.reservationbox {
  padding: 20px 20px;
  height: 300px;
}
.reservationbox:before,
.reservationbox:after {
  content: " ";
  display: table;
}
.reservationbox:after {
  clear: both;
}
.reservationbox .title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}
.reservationbox p {
  font-size: 13px;
  color: #fff;
  margin-bottom: 10px;
}
.reservationbox .form-group {
  margin-bottom: 10px !important;
}
.reservationbox .form-group label {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
.reservationbox .form-group .form-control {
  border-radius: 0;
  border: 0;
  height: 32px;
}
.reservationbox .submitbtn {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 0;
  height: 50px;
}
.reservationbox.small {
  height: 233px;
}
.reservationbox.small .form-group .form-control {
  height: 44px;
}
.img-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.img-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
#gallery {
  background: #fff;
}
#gallery ul li {
  margin-bottom: 30px;
}
#gallery ul li a {
  display: block;
  position: relative;
  overflow: hidden;
}
#gallery ul li a .title {
  color: #f58023;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  height: 34px;
}
#gallery ul li a .img-container {
  background-color: #efefef;
  text-align: center;
  height: 190px;
  overflow: hidden;
}
#gallery ul li a .img-container img {
  display: inline;
}
#gallery ul li a .img-container h4 {
  color: #ccc;
  font-weight: bold;
  padding-top: 30%;
}
#gallery ul li a:hover {
  text-decoration: none;
}
#gallery ul li a .hoverbox {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background: url('../../media/dist/gallery/hover.png') repeat left top;
  width: 100%;
  height: 82%;
  position: absolute;
  left: 0;
  top: -100%;
}
#gallery ul li a .extra span {
  color: #737373;
  font-size: 12px;
}
#gallery ul li.hover .hoverbox {
  top: 0;
}
.photohold {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}
.photohold img {
  width: 100%;
  height: auto;
}
.photohold.mapper {
  height: auto;
}
.photopopup {
  position: relative;
}
.photopopup .videoplay {
  position: absolute;
  left: 50%;
  top: 43%;
  margin-top: -18px;
  margin-left: -13px;
  height: 33px;
  width: 34px;
}
nav.pagi {
  background: #fff;
}
.page-shifter {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 0 0 30px 0;
}
.page-shifter:before,
.page-shifter:after {
  content: " ";
  display: table;
}
.page-shifter:after {
  clear: both;
}
.page-shifter ul {
  float: right;
  margin: 0 0 0 0;
}
.page-shifter ul li {
  float: left;
}
.page-shifter ul li a {
  color: #000;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 19px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.page-shifter ul li a:hover {
  color: #f58023;
}
.page-shifter ul li.active a {
  color: #f58023;
}
.error {
  margin: 100px 0;
  text-align: center;
}
.error .title {
  font-size: 60px;
  color: #f58023;
  text-transform: uppercase;
  font-weight: 400;
}
.error a {
  color: #afbc22;
  text-decoration: underline;
}
.floralist {
  margin-bottom: 40px;
}
.floralist li {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #afbc22;
}
.floralist li:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}
.floralist li .title {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
}
.floralist li .border-box {
  height: 310px;
  max-height: 310px;
}
.floralist li .border-box img {
  width: 100%;
}
.floralist li p:last-child {
  margin-bottom: 0;
}
.left-thumb span {
  color: #afbc22;
  font-size: 14px;
}
.tab-link {
  position: relative;
}
.tab-link li {
  float: left;
  border-left: 1px solid #fff;
  margin-left: 40px;
  padding-left: 40px;
}
.tab-link li a {
  display: block;
}
.tab-link li a:hover {
  text-decoration: none;
}
.tab-link li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
.tabcontent {
  display: none;
}
.tabcontent.active {
  display: block;
}
.EventsFormSectionContainer {
  background: #fff;
}
.viewbrochure {
  display: block;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.viewbrochure:hover {
  text-decoration: none;
}
.positionrel {
  position: relative;
}
.socialfooter.absoluted {
  position: absolute;
  bottom: -120px;
  right: 0;
}
.socialfooter.absoluted.popuo {
  bottom: -20px;
  right: auto;
  left: 0;
}
.addthis_native_toolbox {
  position: absolute;
  bottom: -120px;
  right: 0;
}
.addthis_native_toolbox a.addthis_button_facebook_share.at300b {
  margin-top: -4px;
}
.addthis_native_toolbox a.addthis_button_tweet.at300b {
  margin-right: -29px;
}
.displaynoneimage {
  display: none !important;
}
.scrolltotop {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  width: 70px;
  background: #f58023;
  color: #fff;
  font-weight: 700;
  bottom: 0;
  right: 20px;
  text-align: center;
  font-size: 12px;
  padding: 10px 10px 80px;
  z-index: 1;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.scrolltotop:hover {
  text-decoration: none;
  color: #fff;
  padding-bottom: 151px;
}
.editbtnadmin {
  display: inline;
}
.editbtnadmin img {
  width: auto !important;
  height: auto !important;
  min-height: 0 !important;
}
.captchaCodeImg {
  border: 1px solid #ccc;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
.captchaCodeImg img {
  display: inline;
}
@media (min-width: 1200px) and (max-width: 1445px) {
  .planyourtripbar {
    margin-top: 475px;
  }
}
