﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="UCAdvantureActivityHome.ascx.vb" Inherits="CustomControl_UserListControl" %>
<asp:Image ID="DImage" runat="server" ImageUrl="~/DImages/HTML_1.jpg" 
    Visible="False" />
    <%=Content()%>


