﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="UCInterestingFactList.ascx.vb" Inherits="CustomControl_UserListControl" %>
<asp:Image ID="DImage" runat="server" ImageUrl="~/DImages/HTML_1.jpg" 
    Visible="False" />
  <asp:Literal ID="ltAddInteresting" runat="server"></asp:Literal>
    <%=Content()%>


