﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="UserVetConservationTeam.ascx.vb" Inherits="CustomControl_UserBanner" %>
  <asp:Literal ID="ltAdd" runat="server"></asp:Literal>
<%=VetConservationTeam()%>