﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="UserListDetailsControl.ascx.vb" Inherits="CustomControl_UserListDetailsControl" %>
<%=GetBlogDetails()%>
<%--<asp:Image ID="Img" runat="server" />
<asp:Literal ID="ltTitle"  runat="server"></asp:Literal>
<asp:Literal ID="ltDetails" runat="server"></asp:Literal>--%>
<%--<asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:ConnectionString %>" SelectCommand="SELECT [Blogid], [Title], [BigDetails], [BigImage] FROM [List_NexaBlog] WHERE ([Blogid] = @Blogid)">

    <SelectParameters>
        <asp:RouteParameter Name ="Blogid" RouteKey ="id" Type ="Int32" /> 
    </SelectParameters> 
</asp:SqlDataSource>--%>
