﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="UserDynamicPhotoAlbum.ascx.vb" Inherits="CustomControl_UserListControl" %>
<asp:Image ID="DImage" runat="server" ImageUrl="~/DImages/HTML_1.jpg" 
    Visible="False" />
  <asp:Literal ID="ltAdd" runat="server"></asp:Literal>

  <asp:Literal ID="ltPhotoImage" runat="server"></asp:Literal>
  <asp:Literal ID="lblPhotoGallery" runat="server"></asp:Literal> 

